# -*-mode:conf-yaml-*- vim:ft=yaml
---
shell:
  program: /usr/local/bin/fish
  args:
    - --login
    - --command
    - 'tmux a -t default || tmux new -s default\; source ~/.config/tmux/default.session.conf'

env:
  TERM: alacritty

import:
  - ~/.local/share/alacritty/themes/themes/{{ .alacritty.theme }}.yaml


font:
  size: {{ .font.size.medium }}
  normal:
    family: {{ .font.family.ascii }}
    style: Regular
    offset: 0
  non_ascii:
    family: {{ .font.family.nonascii }}
    style: Regular
    offset: 0
  bold:
    family: {{ .font.family.ascii }}
    style: Bold
  italic:
    family: {{ .font.family.ascii }}
    style: Italic
  bold_italic:
    family: {{ .font.family.ascii }}
    style: Bold Italic

window:
  decorations: full         # ボーダーとタイトルバーを表示する
  startup_mode: Fullscreen  # フルスクリーンで起動する
  opacity: 0.95             # 背景を透過させる
  dimensions:
    columns: 0
    lines: 0
  position:
    x: 0
    y: 0
  padding:
    x: 0
    y: 0
  dynamic_title: true
  dynamic_padding: true

hints:
  alphabet: "jfkdls;ahgurieowpq"
  enabled:
    - regex:
        "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)\
        [^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
      command: open
      post_processing: true
      mouse:
        enabled: true
        mods: command
      binding:
        key: U
        mods: Control|Shift

live_config_reload: true
