# -*-mode:toml-*- vim:ft=toml.gotexttmpl

[font]
size = {{ .font.size.medium }}

[font.offset]
x = 0
y = 0

[font.glyph_offset]
x = 0
y = 0

[font.normal]
family = "{{ .font.family.combined }}"
style  = "Regular"

[font.bold]
family = "{{ .font.family.combined }}"
style  = "Bold"

[font.italic]
family = "{{ .font.family.combined }}"
style  = "Italic"

[font.bold_italic]
family = "{{ .font.family.combined }}"
style  = "Bold Italic"
