-- -*-mode:lua-*- vim:ft=lua
    ---@diagnostic disable: malformed-number, undefined-global
local wezterm = require("wezterm")
local weight  = "Regular"

return {
  global = {
    font = wezterm.font_with_fallback({
      { family = {{ .font.family.combined | quote }}, weight = weight },
      { family = {{ .font.family.ascii | quote }}, weight = weight },
      { family = {{ .font.family.nonascii | quote }}, weight = weight },
    }),
    size = {{ .font.size.xsmall }},
  },
  window = {
    font = wezterm.font_with_fallback({
      { family = {{ .font.family.combined | quote }}, weight = weight },
      { family = {{ .font.family.ascii | quote }}, weight = weight },
      { family = {{ .font.family.nonascii | quote }}, weight = weight },
    }),
    size = {{ .font.size.xsmall }},
  },
}
