-- -*-mode:lua-*- vim:ft=lua
local wezterm = require("wezterm")
local weight  = "Bold"

local configure_font = function(family)
  return { family = family, weight = weight }
end

return {
  global = {
    font = wezterm.font_with_fallback({
      configure_font("{{ .font.family.combined }}"),
      configure_font("{{ .font.family.ascii }}"),
      configure_font("{{ .font.family.nonascii }}"),
    }),
    ---@diagnostic disable-next-line: malformed-number
    size = {{ .font.size.medium }},
  },
  window = {
    font = wezterm.font_with_fallback({
      configure_font("{{ .font.family.combined }}"),
      configure_font("{{ .font.family.ascii }}"),
      configure_font("{{ .font.family.nonascii }}"),
    }),
    ---@diagnostic disable-next-line: malformed-number
    size = {{ .font.size.medium }},
  },
}
