---@diagnostic disable: exp-in-action, miss-exp, err-c-long-comment, malformed-number, undefined-global, unknown-symbol
{{- /*
-- -*-mode:lua-*- vim:ft=lua.gotexttmpl
*/ -}}
-- -*-mode:lua-*- vim:ft=lua
local schemes = {}
{{- range .terminal.wezterm.themes | uniq }}
table.insert(schemes, {{ . | quote }})
{{- end }}

return {
  color_schemes = schemes
}
