-- -*-mode:lua-*- vim:ft=lua

local schemes = {}
---@diagnostic disable-next-line: undefined-global, exp-in-action
{{- range .wezterm.themes | uniq }}
table.insert(schemes, "{{ . }}")
---@diagnostic disable-next-line: unknown-symbol, miss-exp
{{- end }}

return {
  color_schemes = schemes
}
