-- -*-mode:lua-*- vim:ft=lua
local schemes = {}
---@diagnostic disable-next-line: exp-in-action, undefined-global
{{- range .terminal.wezterm.themes | uniq }}
table.insert(schemes, "{{ . }}")
---@diagnostic disable-next-line: miss-exp, unknown-symbol
{{- end }}

return {
  color_schemes = schemes
}
