# https://docs.astral.sh/uv/reference/settings/#exclude-newer
exclude-newer = "7 days"

[[index]]
# https://shisho.dev/docs/ja/t/guard/quickstart/pypi/#setup-anonymous
url = "https://pypi.flatt.tech/simple/"
default = true

{{- /*
# -*-mode:toml-*- vim:ft=toml.gotexttmpl
*/ -}}
