{{- /*
# -*-mode:conf-*- vim:ft=conf.gotexttmpl
*/ -}}

# To see docs for current config:
# run `ghostty +show-config --docs | nvim`
# or  `ghostty +show-config --default --docs | nvim`

# App behavior
auto-update = check
auto-update-channel = stable

fullscreen  = true
shell-integration = {{ .shell }}
shell-integration-features = cursor,sudo,no-title
quit-after-last-window-closed = true
desktop-notifications = true

link-url = true

## Cursor
cursor-style-blink = true
cursor-style       = block
cursor-color       = {{ .ghostty.cursor.color | quote }}
cursor-text        = {{ .ghostty.cursor.text | quote }}

## Clipboard
copy-on-select  = true
clipboard-read  = allow
clipboard-write = allow

clipboard-trim-trailing-spaces = true
clipboard-paste-protection     = true


## OS specific configurations
{{- if eq .chezmoi.os "darwin" }}
window-decoration             = true
macos-titlebar-style          = tabs
macos-titlebar-proxy-icon     = hidden
macos-titlebar-style          = transparent
macos-non-native-fullscreen   = false
macos-option-as-alt           = true
macos-window-shadow           = false
macos-auto-secure-input       = true
macos-secure-input-indication = false
macos-shortcuts               = deny
{{- else if eq .chezmoi.os "linux"}}
window-decoration   = false
gtk-titlebar        = false
gtk-single-instance = true
gtk-tabs-location   = bottom
gtk-wide-tabs       = false
{{- end }}

## Quick Terminal
quick-terminal-position = bottom
quick-terminal-screen   = main
quick-terminal-size     = 45%, 90%
quick-terminal-animation-duration = 0.1

## Window
window-theme       = system
window-step-resize = true
window-padding-x = 0
window-padding-y = 0
window-save-state = default

{{- if .ghostty.shader.enabled }}
## Shader
custom-shader = {{ .chezmoi.homeDir }}/.local/share/ghostty/shaders/{{ .ghostty.shader.module }}.glsl
custom-shader-animation = {{ .ghostty.shader.animate }}
{{- end }}

## Appearance
## colors: `ghostty +list-colors`
## See: `ghostty ++list-themes`
theme = dark:{{ .ghostty.theme.dark | quote }},light:{{ .ghostty.theme.light | quote }}
palette-generate   = true
palette-harmonious = true

### Background
# background-blur-radius = 20
background-opacity = {{ .ghostty.opacity }}
unfocused-split-opacity = 0.8

background-image = {{ joinPath .chezmoi.homeDir "Pictures" "Wallpapers" .ghostty.background.image | quote }}
background-image-opacity = {{ .ghostty.background.opacity }}
background-image-fit = cover
background-image-position = center

### Selection
search-foreground          = {{ .ghostty.search.normal.foreground | quote }}
search-background          = {{ .ghostty.search.normal.background | quote }}
search-selected-foreground = {{ .ghostty.search.selected.foreground | quote }}
search-selected-background = {{ .ghostty.search.selected.background | quote }}

## Mouse
mouse-hide-while-typing = true
mouse-shift-capture     = never
mouse-scroll-multiplier = 2
focus-follows-mouse     = true

## Font: `ghostty +list-fonts`
font-family  = {{ .font.family.combined | quote }}
font-size    = {{ .font.size.small }}
font-feature = -dlig
font-thicken = true
font-thicken-strength = 1

## Notification
notify-on-command-finish        = unfocused
notify-on-command-finish-action = bell,notify
notify-on-command-finish-after  = 30s

## Keymap: `ghostty +list-keybinds`
keybind = shift+enter=text:\n
keybind = super+left=text:\x1b[H
keybind = super+right=text:\x1b[F
keybind = super+backspace=text:\x15
keybind = option+backspace=text:\x1b\x7f
keybind = ctrl+comma=text:\x1b[44;5u
keybind = ctrl+period=text:\x1b[46;5u
keybind = ctrl+slash=text:\x1b[59;5u
keybind = ctrl+semicolon=text:\x1b[59;5u

### See actions: `ghostty +list-actions`
### See: https://ghostty.org/docs/config/keybind/reference
keybind = super+q=quit
keybind = super+w=close_surface
keybind = super+k=clear_screen
keybind = super+ctrl+f=toggle_fullscreen
keybind = super+c=copy_to_clipboard
keybind = super+v=paste_from_clipboard
keybind = global:super+ctrl+enter=toggle_quick_terminal

{{- if eq .chezmoi.os "darwin" }}
keybind = super+z=undo
keybind = super+shift+z=redo
{{- end }}

### Font: ghostty +list-fonts
keybind = super+0=reset_font_size
keybind = super++=increase_font_size:1
keybind = super+-=decrease_font_size:1

### Window / Split
keybind = super+alt+i=inspector:toggle
keybind = super+n=new_window
keybind = super+shift+w=close_window
keybind = super+d=new_split:right
keybind = super+shift+d=new_split:down
keybind = super+[=goto_split:previous
keybind = super+]=goto_split:next
keybind = super+shift+h=goto_split:left
keybind = super+shift+l=goto_split:right
keybind = super+shift+j=goto_split:bottom
keybind = super+shift+k=goto_split:top
keybind = ctrl+left=resize_split:left,20
keybind = ctrl+right=resize_split:right,20
keybind = ctrl+0=equalize_splits

### Tab
keybind = super+t=new_tab
keybind = ctrl+tab=next_tab
keybind = shift+ctrl+tab=previous_tab

keybind = super+1=goto_tab:1
keybind = super+2=goto_tab:2
keybind = super+3=goto_tab:3
keybind = super+4=goto_tab:4
keybind = super+5=goto_tab:5
keybind = super+6=goto_tab:6
keybind = super+7=goto_tab:7
keybind = super+8=goto_tab:8
keybind = super+9=last_tab

### Key tables

{{- if .ghostty.modes.vim.enabled }}
#### Vim mode

##### Enter / Exit vim mode
keybind = alt+v=activate_key_table:vim
keybind = vim/escape=deactivate_key_table
keybind = vim/q=deactivate_key_table
keybind = vim/i=deactivate_key_table
keybind = vim/catch_all=ignore

##### Scroll
keybind = vim/j=scroll_page_lines:1
keybind = vim/k=scroll_page_lines:-1
keybind = vim/ctrl+b=scroll_page_up
keybind = vim/ctrl+f=scroll_page_down

##### Jump
keybind = vim/g>g=scroll_to_top
keybind = vim/shift+g=scroll_to_bottom

##### Search
keybind = vim/slash=start_search
keybind = vim/escape=end_search
keybind = vim/n=navigate_search:next
keybind = vim/shift+n=navigate_search:previous

##### Copy mode / selection
# TODO: missing many functions to make this feature fully works
keybind = vim/y=copy_to_clipboard
keybind = vim/v=copy_to_clipboard

##### Command Palette
keybind = vim/shift+semicolon=toggle_command_palette
{{- end }}

{{- if .ghostty.modes.vim.enabled }}
#### Resize mode

##### Enter / Exit resize mode
keybind = super+r=activate_key_table:resize
keybind = resize/escape=deactivate_key_table
keybind = resize/catch_all=ignore

keybind = resize/arrow_up=resize_split:up,10
keybind = resize/arrow_down=resize_split:down,10
keybind = resize/arrow_left=resize_split:left,10
keybind = resize/arrow_right=resize_split:right,10
{{- end }}
