# -*-mode:gitconfig-*- vim:ft=gitconfig.gotexttmpl

[include]
  path = conf.d/alias.conf
  path = conf.d/delta.conf
  path = conf.d/lfs.conf
  path = conf.d/gist.conf
  path = conf.d/ghq.conf
  path = conf.d/user.conf
  path = conf.d/security.conf

[core]
  {{- if or (eq (env "CODESPACES") "true") (eq (env "REMOTE_CONTAINERS") "true") }}
  editor       = code --wait
  {{- else }}
  editor       = nvim
  {{- end }}
	excludesfile = ${XDG_CONFIG_HOME}/git/ignore

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[init]
	defaultBranch = main

[branch]
  autosetuprebase = always

[http]
  version = HTTP/1.1
  postBuffer = 524288000

[remote]
  pushDefault = origin

[fetch]
  prune = true

[merge]
  branchdesc = true
  log = true

[push]
  default = current

[pull]
  ff = only
