# -*-mode:gitconfig-*- vim:ft=gitconfig

[include]
  path = conf/alias.conf
  path = conf/delta.conf
  path = conf/lfs.conf
  path = conf/gist.conf
  path = conf/user.conf

[core]
  editor       = nvim
	excludesfile = ${XDG_CONFIG_HOME}/git/ignore

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[init]
	defaultBranch = main

[branch]
  autosetuprebase = always

[http]
  postBuffer = 524288000

[remote]
  pushDefault = origin

[merge]
  branchdesc = true
  log = true
