# -*-mode:gitignore-*- vim:ft=gitignore

#  _   _  _
# | | | |(_)
# | | | | _  _ __ ___
# | | | || || '_ ` _ \
# \ \_/ /| || | | | | |
#  \___/ |_||_| |_| |_|
# https://github.com/github/gitignore/blob/main/Global/Vim.gitignore
{{ template "common/Vim.gitignore" . }}

#  _   _  _____  _____             _
# | | | |/  ___|/  __ \           | |
# | | | |\ `--. | /  \/  ___    __| |  ___
# | | | | `--. \| |     / _ \  / _` | / _ \
# \ \_/ //\__/ /| \__/\| (_) || (_| ||  __/
#  \___/ \____/  \____/ \___/  \__,_| \___|
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
{{ template "common/VisualStudioCode.gitignore" . }}

{{ if (eq .chezmoi.os "darwin" ) }}
#                          _____  _____
#                         |  _  |/  ___|
#  _ __ ___    __ _   ___ | | | |\ `--.
# | '_ ` _ \  / _` | / __|| | | | `--. \
# | | | | | || (_| || (__ \ \_/ //\__/ /
# |_| |_| |_| \__,_| \___| \___/ \____/
# https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
{{ template "darwin/macOS.gitignore" . }}
{{ else if (eq .chezmoi.os "linux") }}
#  _      _
# | |    (_)
# | |     _  _ __   _   _ __  __
# | |    | || '_ \ | | | |\ \/ /
# | |____| || | | || |_| | >  <
# \_____/|_||_| |_| \__,_|/_/\_\
# https://github.com/github/gitignore/blob/main/Global/Linux.gitignore
{{ template "linux/Linux.gitignore" . }}
{{ end }}

# ______              _
# | ___ \            | |
# | |_/ / _   _  ___ | |_
# |    / | | | |/ __|| __|
# | |\ \ | |_| |\__ \| |_
# \_| \_| \__,_||___/ \__|
# https://github.com/github/gitignore/blob/main/Rust.gitignore
{{ template "common/Rust.gitignore" }}
