#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -e

PLUGINS="python ruby nodejs deno"

for PLUGIN in ${PLUGINS}; do
  # Install asdf plugin
  if asdf plugin-list | rg ${PLUGIN} >/dev/null; then
    echo "asdf plugin \"${PLUGIN}\" is already installed"
  else
    asdf plugin-add ${PLUGIN}
    # Install latest version
    asdf install ${PLUGIN} latest
    asdf global ${PLUGIN}
    echo "${PLUGIN} installed to $(which ${PLUGIN})"
  fi
done

asdf current
