// -*-mode:jsonc-*- vim:ft=jsonc
{
  // Appearance
  "workbench.colorTheme": "Dracula",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook"
  },
  // File
  "files.autoSave": "onFocusChange",
  "files.trimTrailingWhitespace": true,
  "files.exclude": {
    // VCS
    "**/.git": true,
    "**/.svn": true,
    "**/.hg": true,
    "**/CVS": true,
    // Shell
    "**/.bash_sessions": true,
    // History
    "**/.*_history": true,
    "**/.lesshst": true,
    "**/.wget-hsts": true,
    "**/.viminfo": true,
    // IDE
    "**/.project": true,
    "**/.vscode": true,
    "**/.idea": true,
    "**/.cache": true,
    "**/.gradle": true,
    // C#
    "**/.classpath": true,
    "**/.factorypath": true,
    // node.js
    "**/node_modules": true,
    "**/.yarn": true,
    "**/.pnpm": true,
    "**/package-lock.json": true,
    "**/yarn.lock": true,
    "**/pnpm-lock.yaml": true,
    "**/.next": true,
    "**/.nuxt": true,
    // Python
    "**/*.pyc": true,
    "**/__pycache__": true,
    "**/.pytest_cache": true,
    "**/.ipynb_checkpoints": true,
    // Ruby
    "**/vendors": true,
    // Test & Bduild
    "**/build": true,
    "**/coverage": true,
    // macOS
    "**/.CFUserTextEncoding": true,
    "**/.DS_Store": true,
    "**/.localized": true,
    "**/.Trash*": true,
    // Linux
    // Windows
    "**/Thumbs.db": true,
    "**/desktop.ini": true
  },
  "scm.alwaysShowActions": true,
  "editor.quickSuggestions": {
    "comments": false,
    "strings": false,
    "other": true
  },
  "editor.formatOnSave": true,
  "editor.formatOnType": true,
  "editor.formatOnPaste": true,
  "editor.fontFamily": "'{{ .font.family.ascii }}', '{{ .font.family.combined }}', '{{ .font.family.nonascii }}'",
  "editor.fontSize": {{ .font.size.medium }},
  "editor.fontLigatures": true,
  "editor.wordSeparators": "~!@#$%^&*()-=+[{]}\\|;:'\",.<>/?、。",
  "search.exclude": {
    // VCS
    "**/.git": true,
    "**/.github": true,
    // node.js
    "**/node_modules": true,
    "**/.yarn": true,
    "**/.pnpm": true,
    "**/package-lock.json": true,
    "**/yarn.lock": true,
    "**/pnpm-lock.yaml": true,
    "**/.next": true,
    "**/.nuxt": true,
    "**/dist/**": true,
    "**/tmp": true,
    "**/logs": true
  },
  // NeoVim
  "vscode-neovim.compositeKeys": {
    "jj": {
      "command": "vscode-neovim.escape"
    },
    "jk": {
      "command": "vscode-neovim.lua",
      "args": ["vim.api.nvim_input('<ESC>')\nrequire('vscode-neovim').action('workbench.action.files.save')"]
    }
  },
  "vscode-neovim.neovimExecutablePaths.darwin": "{{ .brew_prefix }}/bin/nvim",
  "vscode-neovim.neovimInitVimPaths.darwin": "~/.config/nvim/init.lua",
  "vscode-neovim.neovimExecutablePaths.linux": "{{ .brew_prefix }}/bin/nvim",
  "vscode-neovim.neovimInitVimPaths.linux": "~/.config/nvim/init.lua",
  // Docker
  "docker.showStartPage": false,
  "remote.containers.defaultExtensions": [
    "alefragnani.numbered-bookmarks",
    "EditorConfig.EditorConfig"
  ],
  "remote.SSH.configFile": "~/.ssh/config",
  "remote.SSH.connectTimeout": 300,
  "remote.SSH.showLoginTerminal": true,
  "remote.SSH.defaultExtensions": [
    "alefragnani.numbered-bookmarks",
    "EditorConfig.EditorConfig"
  ],
  "remote.WSL.debug": true,
  "remote.WSL.fileWatcher.polling": true,
  // Language specific settings
  "[c][cpp]": {
    "editor.wordBasedSuggestions": "off",
    "editor.suggest.insertMode": "replace",
    "editor.semanticHighlighting.enabled": true
  },
  "[rust]": {
  },
  "go.buildOnSave": "workspace",
  "go.lintTool": "golangci-lint",
  "go.lintFlags": [ "--fast" ],
  "[go][go.mod]": {
    "editor.codeActionsOnSave": {
      "source.organizeImports": "explicit"
    }
  },
  "[lua]": {
  },
  "[json]": {
    "editor.quickSuggestions": {
      "strings": true
    },
    "editor.suggest.insertMode": "replace"
  },
  "json.schemaDownload.enable": true,
  "[javascript][javascriptreact][typescript][typescriptreact]": {
    "editor.maxTokenizationLineLength": 2500
  },
  "python.languageserver": "Pylance",
  "python.showStartPage": false,
  "python.venvPath": ".venv",
  "[python]": {
    "editor.codeActionsOnSave": {
      "source.fixAll.ruff": "explicit",
      "source.organizeImports.ruff": "explicit"
    },
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.suggestSelection": "first"
  },
  "notebook.cellToolbarLocation": {
    "default": "right",
    "jupyter-notebook": "left"
  },
  "[ruby]": {
  },
  "[yaml]": {
    "editor.insertSpaces": true,
    "editor.autoIndent": "advanced",
    "diffEditor.ignoreTrimWhitespace": false
  },
  "[markdown]": {
    "editor.unicodeHighlight.ambiguousCharacters": false,
    "editor.unicodeHighlight.invisibleCharacters": false,
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.wordWrap": "on",
    "editor.quickSuggestions": {
      "comments": "off",
      "strings": "off",
      "other": "off"
    }
  },
  "[tex]": {
    "editor.suggest.snippetsPreventQuickSuggestions": false,
    "editor.wordWrapColumn": 100,
    "editor.tabSize": 2
  },
  "[latex]": {
    "editor.suggest.snippetsPreventQuickSuggestions": false,
    "editor.wordWrapColumn": 100,
    "editor.tabSize": 2
  },
  "[bibtex]": {
    "editor.wordWrapColumn": 120,
    "editor.tabSize": 2
  },
  "umath.preview.renderer": "mathjax",
  "umath.preview.position": "top",
  "umath.preview.customCSS": [ "background-color: rgba(0, 0, 0, 0.5);" ],
  "umath.preview.macros": [
    "\\require{physics}",
    "\\require{HTML}",
    "\\require{mathtools}",
    "\\require{mhchem}",
    "\\require{empheq}",
    "\\def\\l{\\left}",
    "\\def\\r{\\right}"
  ],
  "mdmath.delimiters": "dollars",
  "mdmath.autosave": true,
  "extensions.autoUpdate": false,
  "settingsSync.ignoredSettings": [],
  // dotfiles
  "dotfiles.repository": "https://github.com/MasahiroSakoda/dotfiles",
  "dotfiles.targetPath": "~/.local/share/chezmoi",
  "dotfiles.installCommand": "~/.local/share/chezmoi/install.sh",
  "extensions.experimental.affinity": {
    "asvetliakov.vscode-neovim": 1
  }
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
