{{- /*
// -*-mode:kdl-*- vim:ft=kdl.gotexttmpl
*/ -}}

// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
    locked {
        bind "Ctrl ;" { SwitchToMode "Normal"; }
    }

    normal {
        // bind "Ctrl ;" { SwitchToMode "Locked"; }
    }

    resize {
        bind "n"         { SwitchToMode "Normal"; }
        bind "h" "Left"  { Resize "Increase Left"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "k" "Up"    { Resize "Increase Up"; }
        bind "j" "Down"  { Resize "Increase Down"; }
        bind "H"         { Resize "Decrease Left"; }
        bind "L"         { Resize "Decrease Right"; }
        bind "K"         { Resize "Decrease Up"; }
        bind "J"         { Resize "Decrease Down"; }
        bind "+"         { Resize "Increase"; }
        bind "-"         { Resize "Decrease"; }
    }

    pane {
        bind "p"         { SwitchToMode "Normal"; }
        bind "r"         { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "h" "Left"  { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down"  { MoveFocus "Down"; }
        bind "k" "Up"    { MoveFocus "Up"; }
        bind "n"         { NewPane;                   SwitchToMode "Locked"; }
        bind "d"         { NewPane "Right";           SwitchToMode "Locked"; }
        bind "D"         { NewPane "Down";            SwitchToMode "Locked"; }
        bind "s"         { NewPane "stacked";         SwitchToMode "Locked"; }
        bind "x"         { CloseFocus;                SwitchToMode "Locked"; }
        bind "f"         { ToggleFocusFullscreen;     SwitchToMode "Locked"; }
        bind "z"         { TogglePaneFrames;          SwitchToMode "Locked"; }
        bind "w"         { ToggleFloatingPanes;       SwitchToMode "Locked"; }
        bind "e"         { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        bind "i"         { TogglePanePinned;          SwitchToMode "Locked"; }
        bind ";"         { SwitchFocus; }
    }

    move {
        bind "m"         { SwitchToMode "Normal"; }
        bind "h" "Left"  { MovePane "Left"; }
        bind "l" "Right" { MovePane "Right"; }
        bind "k" "Up"    { MovePane "Up"; }
        bind "j" "Down"  { MovePane "Down"; }
        bind "Tab"       { MovePane; }
        bind "Shift Tab" { MovePaneBackwards; }
    }

    tab {
        bind "t"      { SwitchToMode "Normal"; }
        bind "r"      { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Tab"    { ToggleTab; }
        bind "n"      { NewTab;   SwitchToMode "Locked"; }
        bind "x"      { CloseTab; SwitchToMode "Locked"; }
        bind "h"      { GoToPreviousTab; }
        bind "l"      { GoToNextTab; }
        bind "b"      { BreakPane;           SwitchToMode "Locked"; }
        bind "["      { BreakPaneLeft;       SwitchToMode "Locked"; }
        bind "]"      { BreakPaneRight;      SwitchToMode "Locked"; }
        bind "1"      { GoToTab 1;           SwitchToMode "Locked"; }
        bind "2"      { GoToTab 2;           SwitchToMode "Locked"; }
        bind "3"      { GoToTab 3;           SwitchToMode "Locked"; }
        bind "4"      { GoToTab 4;           SwitchToMode "Locked"; }
        bind "5"      { GoToTab 5;           SwitchToMode "Locked"; }
        bind "6"      { GoToTab 6;           SwitchToMode "Locked"; }
        bind "7"      { GoToTab 7;           SwitchToMode "Locked"; }
        bind "8"      { GoToTab 8;           SwitchToMode "Locked"; }
        bind "9"      { GoToTab 9;           SwitchToMode "Locked"; }
        bind "s"      { ToggleActiveSyncTab; SwitchToMode "Locked"; }
    }

    scroll {
        bind "s"        { SwitchToMode "Normal"; }
        bind "e"        { EditScrollback; SwitchToMode "Locked"; }
        bind "/"        { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "k" "Up"   { ScrollUp; }
        bind "j" "Down" { ScrollDown; }
    }

    search {
        bind "s"      { SwitchToMode "Normal"; }
        bind "c"      { SearchToggleOption "CaseSensitivity"; }
        bind "w"      { SearchToggleOption "Wrap"; }
        bind "o"      { SearchToggleOption "WholeWord"; }
        bind "n"      { Search "Down"; }
        bind "N"      { Search "Up"; }
    }

    entersearch {
        bind "Enter"        { SwitchToMode "Search"; }
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
    }

    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }

    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "tab"; }
    }

    session {
        bind "o" { SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Locked"
        }
    }

    shared_among "scroll" "search" {
        bind "Ctrl f" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
    }

    shared_among "renamepane" "renametab" {
        bind "Ctrl c" { SwitchToMode "Normal"; }
    }

    shared_among "normal" "locked" {
        bind "Alt h" "Alt Left"  { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down"  { MoveFocus "Down"; }
        bind "Alt k" "Alt Up"    { MoveFocus "Up"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt w" { CloseFocus;      SwitchToMode "Normal"; }
        bind "Alt t" { NewTab;          SwitchToMode "Normal"; }
        bind "Alt d" { NewPane "right"; SwitchToMode "Normal"; }
        bind "Alt D" { NewPane "down";  SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        bind "Ctrl ;" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }

        bind "Ctrl y" {
            LaunchOrFocusPlugin "file:/$XDG_DATA_HOME/zellij/plugins/zellij-forgot.wasm" {
                "LOAD_ZELLIJ_BINDINGS" "true"
                floating true
            }
        }
    }

    shared_except "locked" "normal" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "locked" "pane" {
        bind "p" { SwitchToMode "Pane"; }
    }
    shared_except "locked" "resize" {
        bind "n" { SwitchToMode "Resize"; }
    }
    shared_except "locked" "scroll" {
        bind "s" { SwitchToMode "Scroll"; }
    }
    shared_except "locked" "session" {
        bind "o" { SwitchToMode "Session"; }
    }
    shared_except "locked" "tab" {
        bind "t" { SwitchToMode "Tab"; }
    }
    shared_except "locked" "move" {
        bind "m" { SwitchToMode "Move"; }
    }
}
