{{- /*
// -*-mode:kdl-*- vim:ft=kdl.gotexttmpl
*/ -}}

    plugin location="file:$XDG_DATA_HOME/zellij/plugins/zjstatus.wasm" {
        {{- $mode_fg := .zellij.mode.fg }}
        {{- $mode_bg := .zellij.mode.bg }}
        format_left  "{mode}#[fg=blue,bg={{ $mode_bg }},bold]  {session} #[fg={{ $mode_bg }},bg=bg] #[fg=white,bg=fg]󰓩  {tabs}"
        format_center "{notifications}"
        format_right  "{pipe_zjstatus_hints}#[fg=blue,bg=bg]{datetime}"
        format_space  "#[bg=fg]"

        // Borders
        // border_enabled  "false"
        // border_char     "-"
        // border_format   "#[fg={{ $mode_fg }}]{char}"
        // border_position "top"

        // Modes
        mode_locked      "#[fg={{ $mode_fg }},bg={{ .zellij.locked.bg }},bold]  {name} #[fg={{ .zellij.locked.bg }},bg={{ $mode_bg }}]"
        mode_normal      "#[fg={{ $mode_fg }},bg={{ .zellij.normal.bg }},bold]  {name} #[fg={{ .zellij.normal.bg }},bg={{ $mode_bg }}]"
        mode_resize      "#[fg={{ $mode_fg }},bg={{ .zellij.resize.bg }},bold]  {name} #[fg={{ .zellij.resize.bg }},bg={{ $mode_bg }}]"
        mode_scroll      "#[fg={{ $mode_fg }},bg={{ .zellij.scroll.bg }},bold]  {name} #[fg={{ .zellij.scroll.bg }},bg={{ $mode_bg }}]"
        mode_tab         "#[fg={{ $mode_fg }},bg={{ .zellij.tab.normal.bg }},bold]  {name} #[fg={{ .zellij.tab.normal.bg }},bg={{ $mode_bg }}]"
        mode_resize_tab  "#[fg={{ $mode_fg }},bg={{ .zellij.tab.normal.bg }},bold]  {name} #[fg={{ .zellij.tab.normal.bg }},bg={{ $mode_bg }}]"
        mode_rename_tab  "#[fg={{ $mode_fg }},bg={{ .zellij.tab.rename.bg }},bold]  {name} #[fg={{ .zellij.tab.rename.bg }},bg={{ $mode_bg }}]"
        mode_pane        "#[fg={{ $mode_fg }},bg={{ .zellij.pane.normal.bg }},bold]  {name} #[fg={{ .zellij.pane.normal.bg }},bg={{ $mode_bg }}]"
        mode_rename_pane "#[fg={{ $mode_fg }},bg={{ .zellij.pane.rename.bg }},bold]  {name} #[fg={{ .zellij.pane.rename.bg }},bg={{ $mode_bg }}]"
        mode_tmux        "#[fg={{ $mode_fg }},bg={{ .zellij.tmux.bg }},bold]  {name} #[fg={{ .zellij.tmux.bg }},bg={{ $mode_bg }}]"
        mode_session     "#[fg={{ $mode_fg }},bg={{ .zellij.session.bg }},bold]  {name} #[fg={{ .zellij.session.bg }},bg={{ $mode_bg }}]"

        // Tabs
        tab_normal            "{index}: #[fg={{ .zellij.tab.normal.fg }}]{name} {floating_indicator}"
        tab_normal_fullscreen "{index}: #[fg={{ .zellij.tab.normal.fg }}]{name} {fullscreen_indicator}"
        tab_normal_sync       "{index}: #[fg={{ .zellij.tab.normal.fg }}]{name} {sync_indicator}"
        tab_active            "{index}: #[fg={{ .zellij.tab.active.fg }},bold,italic]{name} {floating_indicator}"
        tab_active_fullscreen "{index}: #[fg={{ .zellij.tab.active.fg }},bold,italic]{name} {fullscreen_indicator}"
        tab_active_sync       "{index}: #[fg={{ .zellij.tab.active.fg }},bold,italic]{name} {sync_indicator}"
        tab_separator         "{index}: #[fg={{ .zellij.tab.separator.fg }},bg={{ .zellij.tab.separator.bg }}] "

        tab_sync_indicator       " "
        tab_fullscreen_indicator "󰊓 "
        tab_floating_indicator   "󰹙 "

        // Notifications
        notification_format_unread           "#[fg=#89B4FA,bg=#181825,blink]  #[fg=#89B4FA,bg=#181825] {message} "
        notification_format_no_notifications "#[fg=#89B4FA,bg=#181825,dim]   "
        notification_show_interval           "10"

        // Date & Time
        datetime          "#[fg={{ $mode_fg }},bg=blue]{format}"
        datetime_format   "   %b %d (%a) %H:%M "
        datetime_timezone "Asia/Tokyo"

        // zjstatus-hints
        // Note: this is necessary or else zjstatus won't render the pipe:
        pipe_zjstatus_hints_format "{output}"
    }
