{{- /*
// -*-mode:kdl-*- vim:ft=kdl.gotexttmpl
*/ -}}

    plugin location="zjstatus" {
        {{- $colors := .zellij.colors }}
        format_left  "{mode}#[fg=blue,bg={{ $colors.bg }},bold]  {session} #[fg={{ $colors.bg }},bg=bg] #[fg=white,bg=fg]󰓩  {tabs}"
        format_center "{notifications}"
        format_right  "{pipe_zjstatus_hints}#[fg=blue,bg=bg]{datetime}"
        format_space  "#[bg=fg]"

        // Borders
        border_enabled  "false"
        border_char     "-"
        border_format   "#[fg={{ $colors.fg }}]{char}"
        border_position "top"

        // Modes
        mode_locked      "#[fg={{ $colors.black   }},bg={{ $colors.red     }},bold]  {name} #[fg={{ $colors.red     }},bg={{ $colors.bg }}]"
        mode_normal      "#[fg={{ $colors.black   }},bg={{ $colors.green   }},bold]  {name} #[fg={{ $colors.green   }},bg={{ $colors.bg }}]"
        mode_resize      "#[fg={{ $colors.black   }},bg={{ $colors.blue    }},bold]  {name} #[fg={{ $colors.cyan    }},bg={{ $colors.bg }}]"
        mode_move        "#[fg={{ $colors.black   }},bg={{ $colors.blue    }},bold]  {name} #[fg={{ $colors.blue    }},bg={{ $colors.bg }}]"
        mode_pane        "#[fg={{ $colors.black   }},bg={{ $colors.cyan    }},bold]  {name} #[fg={{ $colors.cyan    }},bg={{ $colors.bg }}]"
        mode_rename_pane "#[fg={{ $colors.red     }},bg={{ $colors.cyan    }},bold]  {name} #[fg={{ $colors.cyan    }},bg={{ $colors.bg }}]"
        mode_tab         "#[fg={{ $colors.black   }},bg={{ $colors.yellow  }},bold]  {name} #[fg={{ $colors.yellow  }},bg={{ $colors.bg }}]"
        mode_rename_tab  "#[fg={{ $colors.red     }},bg={{ $colors.yellow  }},bold]  {name} #[fg={{ $colors.yellow  }},bg={{ $colors.bg }}]"
        mode_search      "#[fg={{ $colors.black   }},bg={{ $colors.orange  }},bold]  {name} #[fg={{ $colors.orange  }},bg={{ $colors.bg }}]"
        mode_scroll      "#[fg={{ $colors.grey    }},bg={{ $colors.orange  }},bold]  {name} #[fg={{ $colors.magenta }},bg={{ $colors.bg }}]"
        mode_tmux        "#[fg={{ $colors.magenta }},bg={{ $colors.magenta }},bold]  {name} #[fg={{ $colors.magenta }},bg={{ $colors.bg }}]"
        mode_session     "#[fg={{ $colors.cyan    }},bg={{ $colors.black   }},bold]  {name} #[fg={{ $colors.black   }},bg={{ $colors.bg }}]"
        mode_prompt      "#[fg={{ $colors.red     }},bg={{ $colors.grey    }},bold]  {name} #[fg={{ $colors.red     }},bg={{ $colors.bg }}]"

        // Tabs
        tab_normal            "{index}: #[fg={{ $colors.grey  }}]{name} {floating_indicator}"
        tab_normal_fullscreen "{index}: #[fg={{ $colors.grey  }}]{name} {fullscreen_indicator}"
        tab_normal_sync       "{index}: #[fg={{ $colors.grey  }}]{name} {sync_indicator}"
        tab_active            "{index}: #[fg={{ $colors.cyan  }},bold,italic]{name} {floating_indicator}"
        tab_active_fullscreen "{index}: #[fg={{ $colors.cyan  }},bold,italic]{name} {fullscreen_indicator}"
        tab_active_sync       "{index}: #[fg={{ $colors.cyan  }},bold,italic]{name} {sync_indicator}"
        tab_separator         "{index}: #[fg={{ $colors.white }},bg={{ $colors.black }}]  "

        tab_sync_indicator       " "
        tab_fullscreen_indicator "󰊓 "
        tab_floating_indicator   "󰹙 "

        // Notifications
        notification_format_unread           "#[fg={{ $colors.cyan }},bg={{ $colors.bg }},blink]  #[fg={{ $colors.cyan }},bg={{ $colors.bg }}] {message} "
        notification_format_no_notifications "#[fg={{ $colors.green }},bg={{ $colors.bg }},dim]   "
        notification_show_interval           "10"

        // Date & Time
        datetime          "#[fg={{ $colors.black }},bg={{ $colors.blue }},bold]{format}"
        datetime_format   "   %b %d (%a) %H:%M "
        datetime_timezone "Asia/Tokyo"

        // zjstatus-hints
        // Note: this is necessary or else zjstatus won't render the pipe:
        pipe_zjstatus_hints_format "{output}"
    }
