---
description: execute generated specification file
argument-hint: <path-to-spec-file>
allowed-tools: Read, Write, LS, Glob, Grep, Bash(find:*), Bash(grep:*)
---

# Execute PRP

Implement a feature using the PRP file.

## PRP File: $ARGUMENTS

{{ includeTemplate "common/ai/commands/prp/execute.md" . }}
<!-- vim:ft=markdown -->
