---
description: Convert PRD to technical implementation epic.
argument-hint: <path-to-file>
allowed-tools: Read, Write, LS, Glob, Grep, Bash(echo:*), Bash(pwd:*), Bash(cat:*), Bash(tail:*), Bash(jq:*)
---

# Parse PRD into Task Master Tasks

## Context

- **User Request:** $ARGUMENTS
{{ includeTemplate "common/ai/commands/prp/parse.md" . }}
<!-- vim:ft=markdown -->
