# -*-mode:toml-*- vim:ft=toml.gotexttmpl

[main]
color-sharks      = ["{{ .brew_prefix }}/bin/tshark"]
validated-tsharks = ["{{ .brew_prefix }}/bin/tshark"]
last-used-shark   =  "{{ .brew_prefix }}/bin/tshark"

packet-colors   = true
dark-mode       = true
theme-truecolor = "dracula"
