[submodule ".bats-libs/bats-support"]
	path = .bats-libs/bats-support
	url = https://github.com/bats-core/bats-support
[submodule ".bats-libs/bats-assert"]
	path = .bats-libs/bats-assert
	url = https://github.com/bats-core/bats-assert