// -*-mode:javascript-*- vim:ft=javascript

//jshint esversion:6
const downloadPath   = "~/Downloads/YouTube/Audio"
const downloaderOpts = "--external-downloader aria2c --external-downloader-args '-c -x 5 -k 2M'"
const audioOpts      = "--extract-audio --audio-format mp3 --audio-quiality 128k"
const binPath        = "{{ .brew_prefix }}/bin/yt-dlp"

const cmd = `cd ${downloadPath} && ${binPath} -civ ${downloaderOpts} -f ${audioOpts} -o "%(title)s.%(ext)s" ${location.href}`
tri.native.run(cmd)
