# -*-mode:gitconfig-*- vim:ft=gitconfig.gotexttmpl

[credential]
  helper = {{ .cmd.credential }}

[gpg]
	program = gpg

[user]
  signingkey = {{ .git.signingkey | quote }}

[commit]
	gpgsign = true

[tag]
	gpgsign = true
