# -*-mode:gitconfig-*- vim:ft=gitconfig.gotexttmpl

[credential]
  helper = {{ .cmd.credential }}

[gpg]
	program = gpg

[user]
	signingkey = CF4534963E7B4319

[commit]
	gpgsign = true

[tag]
	gpgsign = true
