# pnpm global configuration: https://pnpm.io/configuring#global-configuration

# Mitigate supply chain attacks by by requiring packages to have been published for 7days before they can installed.
minimumReleaseAge: 10080 # 7 days (in minutes)

# Fail resolution when no version of a dependency satisfies the minimumReleaseAge constraint
# default: true if explicitly minimumReleaseAge is configured
minimumReleaseAgeStrict: true

# Exit with a non-zero exit code if any dependencies have unreviewed build scripts (aka postinstall scripts).
strictDepBuilds: true

# fail if a package's trust level has decreased compared to previous releases.
trustPolicy: no-downgrade

{{- /*
# -*-mode:yaml-*- vim:ft=yaml.gotexttmpl
*/ -}}
