# -*-mode:toml-*- vim:ft=toml.gotexttmpl
# file: home/.chezmoi.toml.tmpl

{{/* boolean feature tags */}}
{{- $docker     := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral  := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $flarm      := false -}}{{/* true if this machine is used for FLARM */}}
{{- $headless   := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal   := false -}}{{/* true if this machine should have personal secrets */}}
{{- $graphics   := false -}}{{/* true if this machine should have graphic apps */}}
{{- $cloud      := false -}}{{/* true if this machine is going to use cloud */}}
{{- "" -}}

{{/* selectable feature tags */}}
{{- $shell := "fish" }}{{/* primary shell */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{/* detect GitHub Actions, GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "GITHUB_TOKEN") (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $user  := env "GIT_USERNAME" -}}
{{- $email := env "GIT_EMAIL" -}}
{{- if and (not $user) stdinIsATTY -}}
{{- $user  = promptStringOnce . "user"  "Enter your git username: " -}}
{{- end -}}
{{- if and (not $email) stdinIsATTY -}}
{{- $email = promptStringOnce . "email" "Enter your git email: " -}}
{{- end -}}
{{- if and (not $shell) stdinIsATTY -}}
{{- $choices := list "zsh" "fish" -}}
{{- $shell   := promptChoiceOnce . "shell" "Primary Shell: " $choices -}}
{{- end -}}

{{/* Discover the homebrew prefix */}}
{{- $brew_prefix := "" -}}
{{- $osIcon      := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $osIcon = "" }}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $brew_prefix = "/opt/homebrew" -}}
{{-   else if eq .chezmoi.arch "amd64" -}}
{{-     $brew_prefix = "/usr/local" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $osIcon = "" }}
{{-   $brew_prefix = "/home/linuxbrew/.linuxbrew" -}}
{{- end -}}

encryption = "age"
format = "json"
color = "on"

[data]
docker    = {{ $docker }}
ephemeral = {{ $ephemeral }}
flarm     = {{ $flarm }}
headless  = {{ $headless }}
hostname  = {{ $hostname | quote }}
personal  = {{ $personal }}
graphics  = {{ $graphics }}
cloud     = {{ $cloud }}
osid      = {{ $osID | quote }}
osicon    = {{ $osIcon | quote }}
shell     = {{ $shell | quote }}
brew_prefix = {{ $brew_prefix | quote }}

[data.git]
user  = {{ $user | quote }}
email = {{ $email | quote }}
signingkey = "D28F2A700F100E19"

[data.cmd]
{{- if eq .chezmoi.os "darwin" }}
copy     = "pbcopy"
paste    = "pbpaste"
pinentry = "{{ $brew_prefix }}/bin/pinentry-mac"
credential = "osxkeychain"
open     = "open"
player   = "iina"
{{- else if eq .chezmoi.os "linux" }}
{{-   if lookPath "xsel" }}
copy     = "xsel --clipboard --input"
paste    = "xsel --clipboard --output"
{{-   else if or (lookPath "wl-copy") (lookPath "wl-paste") }}
copy     = "wl-copy"
paste    = "wl-paste"
{{-   end }}
pinentry = "{{ $brew_prefix }}/bin/pinentry"
credential = "cache"
open     = "xdg-open"
player   = "mpv"
{{- end }}

[edit]
command = "nvim"
apply = false

[git]
autoCommit = false
autoPush   = false

[diff]
format = "git"
pager = "delta"

[merge]
command = "nvim"
args = "-d"

[age]
identity  = "~/.config/chezmoi/key.txt"
recipient = "age1nrn7s9fyggv6e6nhvksv96nh29k9euvtzd854fxlju53jr2hn5ds7xqnmq"
