# -*-mode:sh-*- vim:ft=sh

# XDG related cleanups - files
.CFUserTextEncoding
.bash_history
.bash_logout
.bash_profile
.cargo
.curlrc
.gem/
.gemrc
.hammerspoon/
.histfile
.inputrc
.lesshst
.matplotlib/
.npm/
.npmrc
.pip
.profile
.python_history
.tigrc
.tig_history
.vim/
.viminfo
.w3m/
.wgetrc
.wget-hsts
.zcompdump
.zlogin
.zlogout
.zprofile
.zsh_history
.zsh_sessions
.zshrc
