# -*-mode:conf-toml-*- vim:ft=toml
# file: home/.chezmoi.toml.tmpl

{{- $osid := .chezmoi.os -}}

encryption = "age"
format = "json"
color = "on"

[data]
    osid = {{ $osid | quote }}

[data.git]
    name  = "{{ promptString "Git: Enter your committer name" }}"
    email = "{{ promptString "Git: Enter your email address" }}"

[edit]
    command = "nvim"
    apply = false

[diff]
    format = "git"
    pager = "delta"

[merge]
    command = "nvim"
    args = "-d"

[age]
    identity  = "~/key.txt"
    recipient = "age1ta9k8zuu93qfz8dpea8umdf7kfafr3ggl2uze33qn60xu2rx83uqupj22t"
