# -*-mode:conf-toml-*- vim:ft=toml
# file: home/.chezmoi.toml.tmpl

{{- $osid := .chezmoi.os -}}

{{- $isLaptop := promptBoolOnce . "isLaptop" "Is this a laptop" -}}

encryption = "age"
format = "json"
color = "on"

[data]
    osid = {{ $osid | quote }}
    asciiFont = "JetBrainsMono Nerd Font Mono"
    # nonasciiFont = "PlemolJP Console"
    nonasciiFont = "Cica"
    terminalFontSize = {{ if $isLaptop -}} 8 {{- else -}} 12 {{- end }}

[edit]
    command = "nvim"
    apply = false

[diff]
    format = "git"
    pager = "delta"

[merge]
    command = "nvim"
    args = "-d"

[age]
    identity  = "~/key.txt"
    recipient = "age1ta9k8zuu93qfz8dpea8umdf7kfafr3ggl2uze33qn60xu2rx83uqupj22t"
