# -*-mode:gitignore-*- vim:ft=gotmpl.gitignore

# XDG related cleanups - files
.CFUserTextEncoding
.bash_history
.bash_login
.bash_logout
.bash_profile
.curlrc
.gem/
.gemrc
.gitconfig
.gitconfig_global
.gitcookies
.gitignore
.gitignore_global
.hammerspoon/
.histfile
.inputrc
.lesshst
.matplotlib/
.npm/
.npmrc
.pip
.profile
.python_history
.tigrc
.tig_history
.vim/
.w3m/
.wgetrc
.wget-hsts
.zcompdump
.zlogin
.zlogout
.zprofile
.zshenv
.zsh_history
.zsh_sessions
.zshrc
