# -*-mode:sh-*- vim:ft=sh

# XDG related cleanups - files
.CFUserTextEncoding
.bash_history
.bash_logout
.bash_profile
.cargo
.histfile
.inputrc
.lesshst
.pip
.profile
.python_history
.viminfo
.zcompdump
.zlogin
.zlogout
.zprofile
.zsh_history
.zshrc
