# -*-mode:toml-*- vim:ft=toml.gotexttmpl
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
[*.{md}]
indent_style = space
indent_size  = 2

# Shell Script
[*.{sh,zsh,fish,fish.symlink}]
indent_style = space
indent_size  = 2

# Nushell
[*.{nu}]
indent_style = space
indent_size  = 4
insert_final_newline     = false
trim_trailing_whitespace = true

# Makefile
[{Makefile}]
indent_style = tab
indent_size  = 4

# Taskfile
[Taskfile.{yml,yaml}]
indent_size  = 2
indent_style = space

# C/C++, Rust
[*.{c,cc,cpp,h,hpp,rs}]
indent_style = space
indent_size  = 4
tab_width    = 4

# Shader Languages
[*.{glsl,frag,vert,geom,comp,tese,tesc,metal}]
indent_style = space
indent_size  = 4
tab_width    = 4

# Go
[*.{go}]
indent_style = tab
indent_size  = 4

# Java, Scala, Kotlin, Clojure
[*.{java,scala,kt,clj}]
indent_style = tab
indent_size  = 4

# JavaScript / Typescript
[*.{js,jsx,ts,tsx}]
indent_style    = tab
indent_size     = 2
max_line_length = 80

# Lua
[*.{lua,lua.tmpl}]
indent_style = space
indent_size  = 2
max_line_length = 120

# Python
[*.{py,pyw}]
indent_style = space
indent_size  = 4
max_line_length = 120

# Ruby
[*.{rb,rbi,rbw,ru,gemspec,jbuilder,erb,slim,haml,Gemfile{,.lock},Rakefile,Guradfile,Brewfile,Caskfile,Masfile}]
indent_style = space
indent_size  = 2
max_line_length = 120

# TOML
[*.{toml}]
indent_style = space
indent_size  = 2

# JSON
[*.{json,jsonc,json5}]
indent_style    = tab
indent_size     = 2
max_line_length = 120

# YAML
[*.{y{a}ml}]
indent_style = space
indent_size  = 2

# KDL
[*.{kdl,kdl.tmpl}]
indent_style = space
indent_size  = 4

# HTML & CSS
[*.{html,css,scss}]
indent_style    = tab
indent_size     = 2
max_line_length = 80

# TeX
[*.{tex,bib}]
indent_style = space
indent_size  = 2

# GraphQL
[*.{gql,graphql}]
indent_style    = tab
indent_size     = 2
max_line_length = 80
