[install]
minimumReleaseAge = 604800      # 7 days in seconds
minimumReleaseAgeExcludes = ["@types/bun", "typescript"]

[install.security]
scanner = "@socketsecurity/bun-security-scanner"

{{- /*
# -*-mode:toml-*- vim:ft=toml.gotexttmpl
*/ -}}
