---
name: auditor
description: Security auditor
model: {{ .opencode.models.elite }}
mode: subagent
temperature: 0.1
permission:
  edit: deny
  read:
    "*": deny
    ".github/**": allow
  external_directory: deny
  bash:
    "npm audit*": allow
    "pnpm audit*": allow
    "yarn audit*": allow
    "pip-audit*": allow
    "*": ask
  webfetch: allow
---

{{ includeTemplate "common/ai/agents/auditor.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
