---
name: translator
description: Language translation and localization
model: {{ .opencode.models.lite }}
mode: subagent
temperature: 0.1
permission:
  edit:
    "*": deny
  read:
    "*": deny
    "*.md": allow
    "*.mdx": allow
  bash: deny
  webfetch: deny
---

{{ includeTemplate "common/ai/agents/translator.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
