# -*-mode:conf-*- vim:ft=conf

{{ if eq .chezmoi.os "darwin" }}
  {{ if eq .chezmoi.arch "arm64" -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
  {{ else if eq .chezmoi.arch "amd64" -}}
pinentry-program /usr/local/bin/pinentry-mac
  {{ end -}}
{{ else if eq .chezmoi.os "linux" }}
pinentry-program /usr/local/bin/pinentry
{{ end }}

pinentry-timeout 120
default-cache-ttl 18000
enable-ssh-support
