{
  "mcpServers": {
    "time":   { "command": "uvx", "args": [ "mcp-server-time", "--local-timezone=Asia/Tokyo" ] },
    "git":    { "command": "uvx", "args": [ "mcp-server-git" ] },
    "fetch":  { "command": "uvx", "args": [ "mcp-server-fetch" ] },
    "docker": { "command": "uvx", "args": [ "mcp-server-docker" ] },
    "filesystem": {
      "command": "npx",
      "args": [ "-y", "@modelcontextprotocol/server-filesystem", "{{ .chezmoi.homeDir }}/Dev/repos" ]
    },
    "github": {
      "command": "npx",
      "args": [ "-y", "@modelcontextprotocol/server-github" ],
      "env": { "GITHUB_PERSONAL_ACCESS_TOKEN": "${GITHUB_PERSONAL_ACCESS_TOKEN}" }
    }
  },
  "nativeMCPServers": {
  }
}
{{- /*
  -*-mode:json-*- vim:ft=json
*/ -}}
