{
  "mcpServers": {{ template "common/mcp-servers.json" . }},
  "nativeMCPServers": {
    "neovim": {
      "disabled": false,
      "autoApprove": [ "list_directory", "find_files" ],
      "disabled_tools": [
        "delete_item",
        "replace_in_file",
        "read_file",
        "write_file",
        "execute_command",
        "execute_lua"
      ]
    },
    "mcphub": {
      "disabled": false,
      "autoApprove": [ "get_current_servers" ]
    }
  }
}
{{- /*
  -*-mode:json-*- vim:ft=json
*/ -}}
