#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

# Configure global version
rtx use -g ruby@{{ .rtx.versions.ruby }}

# Update gem
gem update --system
gem install bundler -N
gem install neovim -N
