#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_eval_brew" . }}

PLUGINS="python ruby nodejs deno"

{{ if eq .chezmoi.os "darwin" }}
. $(brew --prefix asdf)/libexec/asdf.sh
{{ else if .chezmoi.os "linux" }}
# TODO: configure linuxbrew path
{{ end }}

for PLUGIN in ${PLUGINS}; do
  # Install asdf plugin
  if "$(brew --prefix asdf)/libexec/bin/asdf" plugin-list | $(brew --prefix rg) ${PLUGIN} >/dev/null; then
    echo "asdf plugin \"${PLUGIN}\" is already installed"
  else
    "$(brew --prefix asdf)/libexec/bin/asdf" plugin-add ${PLUGIN}
    # Install latest version
    "$(brew --prefix asdf)/libexec/bin/asdf" install ${PLUGIN} latest
    "$(brew --prefix asdf)/libexec/bin/adsf" global ${PLUGIN}
    echo "${PLUGIN} installed to $(which ${PLUGIN})"
  fi
done

asdf current
