#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_helper" . }}

# Setup pnpm
export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
mkdir -p "$HOME/.local/share/pnpm"

# $(command -v pnpm) setup
{{- range .packages.npm | uniq }}
$(command -v pnpm) add -g {{ . }}
{{- end }}
