#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -e

# GitHub CLI dashboard
gh extension install dlvhdr/gh-dash

# GitHub CLI to manage GitHub Actions cache
gh extension install actions/gh-actions-cache
