#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ if not .headless }}
if command -v age > /dev/null 2>&1 && [ ! -f "${HOME}/key.txt" ]; then
  age --decrypt --output "${HOME}/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/key.txt"
fi
{{ end }}
