#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

# Change default shell
FISH_PATH="$(command -v fish)"

if ! grep -F -q "$FISH_PATH" /etc/shells ; then
  echo "Configuring /etc/shells"
  echo "$FISH_PATH" | sudo tee -a /etc/shells
  echo
fi

if [[ "$SHELL" != "$FISH_PATH" ]] ; then
  echo "changing default shell: $FISH_PATH"
  sudo chsh -s "$FISH_PATH"
  echo
fi
