#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

. "$(brew --prefix asdf)/libexec/asdf.sh"

PNPM_HOME="$HOME/.local/share/pnpm"

pnpm add -g neovim create-react-app

asdf reshim nodejs
