#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -e

if [ -z "$GITHUB_ACTIONS"]; then
  exit 0
fi

if [ ! -f "${HOME}/key.txt" ]; then
  age --decrypt --output "${HOME}/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/key.txt"
fi
