#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -e

# GitHub CLI dashboard
if ! command -v `gh dash` > /dev/null 2>&1; then
  gh extension install dlvhdr/gh-dash
fi

# GitHub CLI to manage GitHub Actions cache
if ! command -v `gh actions-cache` > /dev/null 2>&1; then
  gh extension install actions/gh-actions-cache
fi
