#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_eval_brew" . }}
{{ template "common/script_sudo" . }}

# Change default shell
echo "$(command -v fish)" | sudo tee -a /etc/shells
sudo chsh -s "$(command -v fish)"
