#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

. "$(brew --prefix asdf)/libexec/asdf.sh"

echo $(asdf current nodejs)

npm install -g npm yarn neovim eslint create-react-app

asdf reshim nodejs
