#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_eval_brew" . }}

PLUGINS="python ruby nodejs deno"

# TODO: install from ~/.tool-versions

for PLUGIN in ${PLUGINS}; do
  # Install asdf plugin
  if "${ASDF_DIR}/bin/asdf" plugin-list | $(brew --prefix rg) ${PLUGIN} >/dev/null; then
    echo "asdf plugin \"${PLUGIN}\" is already installed"
  else
    "${ASDF_DIR}/bin/asdf" plugin-add ${PLUGIN}

    # Install latest version
    "${ASDF_DIR}/bin/asdf" install ${PLUGIN} latest
    "${ASDF_DIR}/bin/adsf" global ${PLUGIN}

    echo "${PLUGIN} installed to $(which ${PLUGIN})"
  fi
done

"${ASDF_DIR}/bin/asdf" current
