#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

# Install/Update fish shell plugin
# plugin list: ~/.config/fish/fish_plugins
$(which fish) -c "curl -sL https://git.io/fisher | source && fisher update"
