#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_eval_brew" . }}

PLUGINS="python ruby nodejs deno"

# TODO: install from ~/.tool-versions

echo $(brew info asdf)

. "$(brew --prefix asdf)/libexec/asdf.sh"
rm ~/.asdf/shims/*
$(command -v asdf) reshim
exec $SHELL -l

for PLUGIN in ${PLUGINS}; do
  # Install asdf plugin
  if $(command -v asdf) plugin-list | $(command -v rg) ${PLUGIN} >/dev/null; then
    echo "asdf plugin \"${PLUGIN}\" is already installed"
  else
    $(command -v adsf) plugin-add ${PLUGIN}

    # Install latest version
    $(command -v asdf) install ${PLUGIN} latest
    $(command -v asdf) global ${PLUGIN}

    echo "${PLUGIN} installed to $(which ${PLUGIN})"
  fi
done

$(command -v adsf) current
