#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

# GitHub CLI dashboard
$(command -v gh) extension install dlvhdr/gh-dash || true

# GitHub CLI to manage GitHub Actions cache
$(command -v gh) extension install actions/gh-actions-cache || true
