#!/usr/bin/env fish
# -*-mode:fish-*- vim:ft=fish

# Install/Update fish shell plugin
# plugin list: ~/.config/fish/fish_plugins
if not type -q fish
  fish -c "curl -sL https://git.io/fisher | source && fisher update"
end
