#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_helper" . }}

# Setup pnpm
export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
mkdir -p "$HOME/.local/share/pnpm"

if ! command_exists pnpm; then
  $(command -v pnpm) install-completion fish
fi

# $(command -v pnpm) setup
$(command -v pnpm) add -g neovim
$(command -v pnpm) add -g create-{react,next}-app
$(command -v pnpm) add -g commitizen
$(command -v pnpm) add -g cz-conventional-changelog
