#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh.gotexttmpl

set -eo pipefail

{{ template "common/script_eval_brew" . }}
{{ template "common/script_sudo" . }}
{{ template "common/script_helper" . }}

{{- if not .headless }}
# Install Homebrew
if ! command_exists brew; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

## Reinstall custom w3m
# W3M_PATH=`brew info w3m | rg "Cellar" | sed -e "s/ (.*//"1`
# cp "$W3M_PATH/.brew/w3m.rb" .
# sed -i s/disable-image/enable-image/g ./w3m.rb
# brew reinstall --build-from-source --formula ./w3m.rb
# rm ./w3m.rb

# Packages are installed by `mise bootstrap` from ~/.config/mise/config.toml
{{- end }}

brew list
