#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

. "$(brew --prefix asdf)/libexec/asdf.sh"

asdf global ruby {{ .asdf.version.ruby }}

# Update gem
gem update --system
gem install bundler -N
gem install neovim -N

asdf reshim ruby
