#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh.gotexttmpl

set -eo pipefail

{{- if not .headless }}
mise trust $HOME/.config/mise/config.toml
mise install
mise current
{{- if eq .chezmoi.os "darwin" }}
mise bootstrap --only macos-defaults --yes
{{- end }}
{{- end }}
