#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_eval_brew" . }}
{{ template "common/script_sudo" . }}

echo $(which fish)
echo $(which fish) | sudo tee -a /etc/shells
chsh -s $(which fish)
