#!/usr/bin/env bash
# -*-mode:sh-*- vim:ft=sh

set -eo pipefail

{{ template "common/script_eval_brew" . }}

. "$(brew --prefix asdf)/libexec/asdf.sh"

export CONFIGURE_OPTS="-with-openssl=$(brew --prefix openssl@3)"
export CPPFLAGS="-I$(brew --prefix openssl)/include"
export LDFLAGS="-L$(brew --prefix openssl)/lib"

export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@3)"

# install from ~/.tool-versions
cut -d' ' -f1 ${HOME}/.tool-versions | xargs -I{} asdf plugin add {} || true
asdf install

# pnpm completion for fish
$(command -v pnpm) install-completion fish || true

asdf current
