# General Options
--continue
--ignore-errors
--verbose

# Embed
# --embed-metadata
--embed-thumbnail

# Output format
--output "%(title)s.%(ext)s"

# Use the specified external downloader
# Currently supports native, aria2c, avconv, axel, curl, ffmpeg, httpie, wget
--downloader aria2c
--downloader-args "--continue --max-connection-per-server=16 --min-split-size=1M --split=16"

--sponsorblock-mark all,-filler
--sponsorblock-chapter-title "[SponsorBlock] %(category_names)l"
