# General Options
--continue
--ignore-errors
--verbose

# Cookie
--cookies-from-browser brave

# Embed
# --embed-metadata
# --embed-thumbnail

# Avoid vp9 because we have no HW acceleration in LXC
-S vcodec:h264

# Output format
--output "%(title)s.%(ext)s"

# Use the specified external downloader
# Currently supports native, aria2c, avconv, axel, curl, ffmpeg, httpie, wget
--downloader aria2c
--downloader-args "--continue --max-connection-per-server=16 --min-split-size=1M --split=16"

# Sponsor block
# --sponsorblock-mark all,-filler
# --sponsorblock-chapter-title "[SponsorBlock] %(category_names)l"
