---
name: auditor
description: Security auditor
model: {{ index .opencode.models.elite 0 }}
mode: subagent
temperature: 0.1
permission:
  edit: deny
  read:
    "*": allow
    ".github/**": allow
  external_directory: deny
  bash:
    "npm audit*": deny
    "pnpm audit*": allow
    "bun audit": allow
    "yarn audit*": deny
    "pip-audit*": deny
    "uv audit*": allow
    "*": ask
  webfetch: allow
---

{{ includeTemplate "common/ai/agents/auditor.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
