{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "autoshare": false,
  "snapshot": false,
  "model": {{ index .opencode.models.ultra 0 | quote }},
  "small_model": {{ index .opencode.models.elite 0 | quote }},
  {{/* Global plugins */ -}}
  "plugin": [
    // "superpowers@git+https://github.com/obra/superpowers.git",
    "@tarquinen/opencode-dcp@latest",
    "./plugins/damage-control.ts",
    "./plugins/notification.ts",
    "./plugins/limits.ts",
    "./plugins/rtk.ts"
  ],
  {{/* Global Instructions */ -}}
  "instructions": ["AGENTS.md", "CLAUDE.md"],
  {{/* Global Permissions */ -}}
  "permission": {
    "todoread": "allow",
    "todowrite": "allow",
    "websearch": "allow",
    {{- $read := dict -}}
    {{- range .agents.permissions.read.allow -}}{{- $read = set $read . "allow" -}}{{- end }}
    {{- range .agents.permissions.read.ask -}}{{- $read = set $read . "ask" -}}{{- end }}
    {{- range .agents.permissions.read.deny -}}{{- $read = set $read . "deny" -}}{{- end }}
    {{- $edit := dict -}}
    {{- range .agents.permissions.write.allow -}}{{- $edit = set $edit . "allow" -}}{{- end }}
    {{- range .agents.permissions.write.ask -}}{{- $edit = set $edit . "ask" -}}{{- end }}
    {{- range .agents.permissions.write.deny -}}{{- $edit = set $edit . "deny" -}}{{- end }}
    {{- $bash := dict -}}
    {{- range .agents.permissions.bash.allow -}}{{- $bash = set $bash . "allow" -}}{{- end }}
    {{- range .agents.permissions.bash.ask -}}{{- $bash = set $bash . "ask" -}}{{- end }}
    {{- range .agents.permissions.bash.deny -}}{{- $bash = set $bash . "deny" -}}{{- end }}
    "read": {{ $read | toPrettyJson | indent 4 | trim }},
    "edit": {{ $edit | toPrettyJson | indent 4 | trim }},
    "bash": {{ $bash | toPrettyJson | indent 4 | trim }}
  },
  {{/* Compaction config */ -}}
  "compaction": { "auto": true, "prune": true },
  {{/* File Watcher Configurations */ -}}
  "watcher": {
    "ignore": [".git/**", ".jj/**", "**/*.log", "node_modules/**", "dist/**"]
  },
  {{/* Global AI Provider config */ -}}
  "enabled_providers": {{ .opencode.providers.enabled | toPrettyJson | indent 2 | trim }},
  {{ $providers := dict }}
  {{- range $key, $value := .ai.providers -}}
    {{- $config := dict }}
    {{- $config = set $config "name" .name }}
    {{- $config = set $config "npm" .npm }}
    {{- $config = set $config "options" (dict "baseURL" .baseUrl "apiKey" (printf "{env:%s}" (substr 1 -1 .apiKey))) }}
    {{- $whitelist := list }}
    {{- range .models }}{{ $whitelist = append $whitelist .id }}{{- end }}
    {{- $config = set $config "whitelist" $whitelist }}
    {{- $models := dict }}
    {{- range .models }}{{- $models = set $models .id (dict "name" .name) -}}{{- end }}
    {{- $config = set $config "models" $models }}
    {{- $_ := set $providers $key $config }}
  {{- end -}}
  "provider": {{ $providers | toPrettyJson | indent 2 | trim }},
  {{/* Agent Configurations */ -}}
  "default_agent": "build",
  "agent": {
    {{/* Builtin Primary Agents */ -}}
    "plan": { "disable": false },
    "build": { "disable": false },
    {{/* Builtin Subagents */ -}}
    "general": { "disable": true },
    "explore": { "disable": true },
    "scout": { "disable": true },
    {{/* Custom Agents */ -}}
    "auditor": { "disable": false },
    "translator": { "disable": false }
  },
  {{/* Formatter Configurations */ -}}
  "formatter": {
    "rumdl": { "command": [ "rumdl", "fmt", "--fix", "$FILE" ], "extensions": [ ".md", ".mdx" ] },
    "biome": { "command": [ "biome", "format", "$FILE" ], "extensions": [".js", "jsx", ".ts", ".tsx"] },
    "shfmt": { "command": ["shfmt", "$FILE"], "extensions": [".sh", ".bash", ".zsh"] },
    "ruff": { "command": [ "ruff", "format", "$FILE" ], "extensions": [".py", ".pyi"] },
    "stylua": { "command": [ "stylua", "$FILE" ], "extensions": [".lua"] },
    "yamlfmt": { "command": ["yamlfmt", "-formatter", "$FILE"], "extensions": [".yml", ".yaml"] },
    "rustfmt": { "command": ["rustfmt", "$FILE"], "extensions": [".rs"] },
    "gofmt": { "command": ["golangci-lint", "format", "$FILE"], "extensions": [".go"] }
  },
  {{/* Language Server Configurations */ -}}
  "lsp": {
    "rumdl": {
      "command": ["rumdl", "server"],
      "disabled": false,
      "extensions": [".md", ".markdown", ".mdx"]
    },
    "jsonls": {
      "command": ["vscode-json-languageserver", "--stdio"],
      "disabled": false,
      "extensions": [".json", ".jsonc"]
    },
    "yamlls": {
      "command": ["yaml-language-server", "--stdio"],
      "disabled": false,
      "extensions": [".yml", ".yaml"],
      "initialization": {
        "redhat": {"telemetry": { "enabled": true }},
        "yaml": {"schemas": { "https://www.schemastore.org/github-workflow.json": "/.github/workflows/*" }}
      }
    },
    "tombi": {
      "command": ["tombi", "lsp"],
      "disabled": false,
      "extensions": [".toml"]
    },
    "texlab": {
      "command": ["texlab"],
      "disabled": false,
      "extensions": [".tex", ".bib"]
    },
    "bashls": {
      "command": ["bash-language-server", "server"],
      "disabled": false,
      "extensions": [".sh", "bash"]
    },
    "fish-lsp": {
      "command": ["fish-lsp", "start"],
      "disabled": false,
      "extensions": [".fish"]
    },
    "clangd": {
      "command": ["clangd"],
      "disabled": false,
      "extensions": [".c", ".h", ".cpp", ".hpp", ".cc", ".hh", ".cxx", ".hxx", ".hcc"]
    },
    "rust_analyzer": {
      "command": ["rust_analyzer"],
      "disabled": false,
      "extensions": [".rs"]
    },
    "gopls": {
      "command": ["gopls", "serve"],
      "disabled": false,
      "extensions": [".go", ".mod", ".sum"]
    },
    "ty": {
      "command": ["ty", "server"],
      "disabled": false,
      "extensions": [".py"]
    },
    "biome": {
      "command": ["biome", "lsp-proxy"],
      "disabled": false,
      "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".jsonc", ".json5", ".html", ".css", ".vue", ".svelte", ".astro"]
    },
    "vtsls": {
      "command": ["vtsls", "--stdio"],
      "disabled": false,
      "extensions": [".ts", ".tsx", ".js", ".jsx", ".mjs", ".cjs", ".mts", ".cts"]
    },
    "denols": {
      "command": ["deno", "lsp"],
      "disabled": false,
      "extensions": [".js", ".jsx", ".ts", ".tsx", ".vue", ".svelte", ".astro"]
    },
    "lua_ls": {
      "command": ["lua-language-server"],
      "disabled": false,
      "extensions": [".lua"]
    },
    "sqls": {
      "command": ["sqls"],
      "disabled": false,
      "extensions": [".sql"]
    },
    "dockerls": {
      "command": ["docker-langserver", "start", "--stdio"],
      "disabled": false,
      "extensions": ["Dockerfile", "Dockerfile.runtime"]
    },
    "terraform-ls": {
      "command": ["terraform-ls", "serve"],
      "disabled": false,
      "extensions": [".tf", ".hcl"]
    }
  }
}
{{- /*
// -*-mode:json-*- vim:ft=json.gotexttmpl
*/ -}}
