{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": {{ .opencode.autoupdate }},
  "autoshare": {{ .opencode.autoshare }},
  "snapshot": {{ .opencode.snapshot }},
  "theme": {{ .opencode.theme | quote }},
  "tui": {{ .opencode.tui | toPrettyJson | indent 2 | trim }},

  "model": {{ .opencode.models.general | quote }},
  "small_model": {{ .opencode.models.lite | quote }},

  {{/* Global plugins */ -}}
  "plugin": {{ .opencode.plugins | toPrettyJson | indent 2 | trim }},

  {{/* Global keybinds */ -}}
  "keybinds": {{ .opencode.keybinds | toPrettyJson | indent 2 | trim }},

  {{/* Global Instructions */ -}}
  "instructions": {{ .opencode.instructions | toPrettyJson | indent 2 | trim }},

  {{/* Global Permissions */ -}}
  "permission": {{ .opencode.permissions | toPrettyJson | indent 2 | trim }},

  {{/* File Watcher Configurations */ -}}
  "watcher": {
    "ignore": {{ .opencode.watcher.ignore | toPrettyJson | indent 4 | trim }}
  },

  {{/* Global AI Provier config */ -}}
  "enabled_providers": {{ .opencode.enabled_providers | toPrettyJson | indent 2 | trim | wrap 100 }},

  "provider": {{ .opencode.providers | toPrettyJson | indent 2 | trim }},

  {{/* Agent Configurations */ -}}
  "default_agent": "planner",
  "agent": {
    {{/* Builtin Agents */ -}}
    "plan": { "disable": true },
    "build": { "disable": true },
    {{/* Custom Agents */ -}}
    "architect": { "disable": false },
    "auditor": { "disable": false },
    "conductor": { "disable": false },
    "explorer": { "disable": false },
    "planner": { "disable": false },
    "researcher": { "disable": false },
    "reviewer": { "disable": false },
    "translator": { "disable": false },
    "triager": { "disable": false }
  },

  {{/* Formatter Configurations */ -}}
  "formatter": {
    "biome": { "command": [ "biome", "format", "$FILE" ], "extensions": [".js", "jsx", ".ts", ".tsx"] },
    "shfmt": { "command": ["shfmt", "$FILE"], "extensions": [".sh", ".bash", ".zsh"] },
    "ruff": { "command": [ "ruff", "format", "$FILE" ], "extensions": [".py", ".pyi"] },
    "stylua": { "command": [ "stylua", "$FILE" ], "extensions": [".lua"] },
    "yamlfmt": { "command": ["yamlfmt", "-formatter", "$FILE"], "extensions": [".yml", ".yaml"] },
    "rustfmt": { "command": ["rustfmt", "$FILE"], "extensions": [".rs"] },
    "gofmt": { "command": ["golangci-lint", "format", "$FILE"], "extensions": [".go"] }
  },

  {{/* Langage Server Configurations */ -}}
  {{- $servers := dict -}}
  {{- range $key, $value := .lsp.servers -}}
  {{-   if hasKey $value "cmd" -}}
  {{-     $_ := $value | setValueAtPath "command" $value.cmd -}}
  {{-     $_ := $value | deleteValueAtPath "cmd" -}}
  {{-   end -}}
  {{-   if hasKey $value "exts" -}}
  {{-     $_ := $value | setValueAtPath "extensions" $value.exts -}}
  {{-     $_ := $value | deleteValueAtPath "exts" -}}
  {{-   end -}}
  {{-   $_ := $value | setValueAtPath "disabled" false -}}
  {{-   $_ := $servers | setValueAtPath $key $value -}}
  {{- end -}}
  "lsp": {{ .lsp.servers | toPrettyJson | indent 2 | trim }},

  {{/* MCP Server Configurations */ -}}
  {{- $servers := dict -}}
  {{- range $key, $value := .mcp.providers -}}
  {{-   if hasKey $value "command" -}}
  {{-     $_ := $value | setValueAtPath "command" (concat (list $value.command) $value.args) -}}
  {{-     $_ := $value | deleteValueAtPath "args" -}}
  {{-   end -}}
  {{-   if hasKey $value "env" -}}
  {{-     $_ := $value | setValueAtPath "environment" $value.env -}}
  {{-     $_ := $value | deleteValueAtPath "env" -}}
  {{-   end -}}
  {{-   if and (hasKey $value "type") (eq $value.type "stdio") -}}
  {{-     $_ := $value | setValueAtPath "type" "local" -}}
  {{-   else if and (hasKey $value "type") (eq $value.type "http") -}}
  {{-     $_ := $value | setValueAtPath "type" "remote" -}}
  {{-   else -}}
  {{-     $_ := $value | setValueAtPath "type" "local" -}}
  {{-   end -}}
  {{-   $_ := $servers | setValueAtPath $key $value -}}
  {{- end -}}
  "mcp": {{ $servers | toPrettyJson | indent 2 | trim }}
}
{{- /*
// -*-mode:json-*- vim:ft=json.gotexttmpl
*/ -}}
