{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": {{ .opencode.autoupdate }},
  "autoshare": {{ .opencode.autoshare }},
  "snapshot": {{ .opencode.snapshot }},
  "theme": {{ .opencode.theme | quote }},
  "tui": {{ .opencode.tui | toPrettyJson | indent 2 | trim }},

  "model": {{ index .opencode.models.ultra 0 | quote }},
  "small_model": {{ index .opencode.models.elite 0 | quote }},

  {{/* Global plugins */ -}}
  "plugin": {{ .opencode.plugins | toPrettyJson | indent 2 | trim }},

  {{/* Global keybinds */ -}}
  "keybinds": {{ .opencode.keybinds | toPrettyJson | indent 2 | trim }},

  {{/* Global Instructions */ -}}
  "instructions": {{ .opencode.instructions | toPrettyJson | indent 2 | trim }},

  {{/* Global Permissions */ -}}
  "permission": {{ .opencode.permissions | toPrettyJson | indent 2 | trim }},

  {{/* Compaction config */ -}}
  "compaction": {{ .opencode.compaction | toPrettyJson | indent 2 | trim }},

  {{/* File Watcher Configurations */ -}}
  "watcher": {
    "ignore": {{ .opencode.watcher.ignore | toPrettyJson | indent 4 | trim }}
  },

  {{/* Global AI Provider config */ -}}
  "enabled_providers": {{ .opencode.enabled_providers | toPrettyJson | indent 2 | trim | wrap 100 }},

  "provider": {{ .opencode.providers | toPrettyJson | indent 2 | trim }},

  {{/* Agent Configurations */ -}}
  "default_agent": "Sisyphus",
  "agent": {
    {{/* Builtin Agents */ -}}
    "plan": { "disable": true },
    "build": { "disable": true },
    {{/* Custom Agents */ -}}
    "auditor": { "disable": false },
    "translator": { "disable": false },
    "triager": { "disable": false }
  },

  {{/* Formatter Configurations */ -}}
  "formatter": {
    "rumdl": { "command": [ "rumdl", "fmt", "--fix", "$FILE" ], "extensions": [ ".md", ".mdx" ] },
    "biome": { "command": [ "biome", "format", "$FILE" ], "extensions": [".js", "jsx", ".ts", ".tsx"] },
    "shfmt": { "command": ["shfmt", "$FILE"], "extensions": [".sh", ".bash", ".zsh"] },
    "ruff": { "command": [ "ruff", "format", "$FILE" ], "extensions": [".py", ".pyi"] },
    "stylua": { "command": [ "stylua", "$FILE" ], "extensions": [".lua"] },
    "yamlfmt": { "command": ["yamlfmt", "-formatter", "$FILE"], "extensions": [".yml", ".yaml"] },
    "rustfmt": { "command": ["rustfmt", "$FILE"], "extensions": [".rs"] },
    "gofmt": { "command": ["golangci-lint", "format", "$FILE"], "extensions": [".go"] }
  },

  {{/* Language Server Configurations */ -}}
  {{- $servers := dict -}}
  {{- range $key, $value := .lsp.servers -}}
  {{-   if hasKey $value "cmd" -}}
  {{-     $_ := $value | setValueAtPath "command" $value.cmd -}}
  {{-     $_ := $value | deleteValueAtPath "cmd" -}}
  {{-   end -}}
  {{-   if hasKey $value "exts" -}}
  {{-     $_ := $value | setValueAtPath "extensions" $value.exts -}}
  {{-     $_ := $value | deleteValueAtPath "exts" -}}
  {{-   end -}}
  {{-   $_ := $value | setValueAtPath "disabled" false -}}
  {{-   $_ := $servers | setValueAtPath $key $value -}}
  {{- end -}}
  "lsp": {{ .lsp.servers | toPrettyJson | indent 2 | trim }},

  {{/* MCP Server Configurations */ -}}
  "mcp": {
    "filesystem": {
      "type": "local",
      "command": ["pnpm ", "dlx", "@modelcontextprotocol/server-filesystem@latest"],
      "enabled": true
    },
    "memory": {
      "type": "local",
      "command": ["pnpm ", "dlx", "@modelcontextprotocol/server-memory@latest"],
      "enabled": true
    },
    "git": {
      "type": "local",
      "command": ["uvx ", "mcp-server-git"],
      "enabled": true
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": { "CONTEXT7_API_KEY": "${CONTEXT7_API_KEY}" },
      "enabled": true
    },
    "grep_app": {
      "type": "remote",
      "url": "https://mcp.grep.app",
      "headers": {},
      "enabled": true
    },
    "github": {
      "type": "remote",
      "url": "",
      "headers": { "Authorization": "Bearer ${GITHUB_MCP_PAT}" },
      "oauth": {},
      "enabled": true
    }
  }
}
{{- /*
// -*-mode:json-*- vim:ft=json.gotexttmpl
*/ -}}
