---
description: Go language standards: code style, naming, runtime, linter, formatter, testing documentation, tooling
paths: **/*.go
---
{{ includeTemplate "common/ai/rules/go.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
