---
description: Python language standards: code style, naming, runtime, package manager, virtual environment, linter, formatter, testing documentation, tooling
paths: **/*.py
---
{{ includeTemplate "common/ai/rules/python.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
