---
description: Rust language standards: code style, language server , debugger
paths: **/*.rs
---
{{ includeTemplate "common/ai/rules/rust.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
