---
description: Shell script standards: code style, shabang, linter, formatter, error handling
paths: **/*.sh
---
{{ includeTemplate "common/ai/rules/shell.md" }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
