---
description: SQL language standards: code style, shabang, linter, formatter, error handling
paths: **/*.sql, **/*.db
---
{{ includeTemplate "common/ai/rules/sql.md" }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
