---
description: TypeScript language standards: code style, type definition, error handling
paths: **/*.ts, **/*.tsx
---
{{ includeTemplate "common/ai/rules/typescript.md" }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
