-- -*-mode:lua-*- vim:ft=lua.gotexttmpl

return {
  {
    "hrsh7th/nvim-cmp", -- Completion Engine
    dependencies = {
      -- LSP completion sources
      "hrsh7th/cmp-nvim-lsp",
      "onsails/lspkind.nvim",

      {{- if not .neovim.complete.fuzzy_path }}
      "hrsh7th/cmp-path",
      {{- else }}
      "tzachar/cmp-fuzzy-path",
      {{- end }}
      {{- if not .neovim.complete.fuzzy_buffer }}
      "hrsh7th/cmp-buffer",
      {{- else }}
      "tzachar/cmp-fuzzy-buffer",
      {{- end }}
      "hrsh7th/cmp-cmdline",
      "dmitmel/cmp-cmdline-history",

      "saadparwaiz1/cmp_luasnip",

      -- AI assisted completion
      {{- if .neovim.complete.copilot }}
      -- GitHub Copilot interaction
      {
        "zbirenbaum/copilot.lua",
        build  = ":Copilot auth",
        cmd    = "Copilot",
        config = function() require("ai.copilot") end,
      },
      {
        "zbirenbaum/copilot-cmp",
        config = function() require("lsp.cmp.copilot") end,
      },
      {{- end }}
      {{- if .neovim.complete.codeium }}
      {
        "Exafunction/codeium.nvim",
        build  = ":Codeium Auth",
        config = function() require("lsp.cmp.codeium") end,
      },
      {{- end }}
      {{- if .neovim.complete.tabnine }}
      {
        "tzachar/cmp-tabnine",
        build = './install.sh',
        config = function() require("lsp.cmp.tabnine") end,
      },
      {{- end }}
    },
    event  = { "InsertEnter", "CmdlineEnter" },
    config = function() require("lsp.cmp") end,
  },
  { "mtoohey31/cmp-fish",   ft = "fish" },

  {
    "L3MON4D3/LuaSnip", -- Snippet completion sources
    dependencies = { "rafamadriz/friendly-snippets" },
    build = "make install_jsregexp",
    version = "v2.*",
    event   = "InsertEnter",
    config  = function ()
      require("lsp.cmp.luasnip")
      require("luasnip.loaders.from_vscode").lazy_load()
    end,
  },
}
