-- -*-mode:lua-*- vim:ft=lua.gotexttmpl

return {
  { "nvim-lua/plenary.nvim" },
  { "tzachar/fuzzy.nvim" },
  { "MunifTanjim/nui.nvim" },
  { "nvim-tree/nvim-web-devicons" },
  { "mortepau/codicons.nvim", config = function() require("ui.codicons") end },
}
