# Get editor completions based on the config schema
"$schema" = "https://starship.rs/config-schema.json"

# -*-mode:toml-*- vim:ft=toml.gotexttmpl

# ref: https://starship.rs/config/#prompt
format = """
[](fg:{{ .starship.env.fg_color }})\
$os\
[ ](fg:{{ .starship.env.fg_color }} bg:{{ .starship.env.bg_color }})\
$sudo\
$localip\
$shlvl\
$directory\
[](fg:{{ .starship.env.bg_color }} bg:{{ .starship.git.branch.bg_color }})\
$git_branch\
[ ](fg:{{ .starship.git.branch.bg_color }})\
$git_commit\
$git_status\
$git_state\
$git_metrics\
$fill\
$c\
$swift\
$rust\
$golang\
$java\
$scala\
$kotlin\
$nodejs\
$deno\
$bun\
$python\
$ruby\
$php\
$perl\
$lua\
$docker_context\
$kubernetes\
$terraform\
$aws\
$azure\
$gcloud\
$container
$character\
$status\
$shell\
"""

right_format = """
[ ](fg:{{ .starship.env.fg_color }})
$jobs
[](fg:{{ .starship.clock.fg_color }})
$cmd_duration
$env_var
$battery
$memory_usage
$line_break
$package
[](fg:{{ .starship.clock.bg_color }} bg:{{ .starship.clock.fg_color }})
$time
[](fg:{{ .starship.clock.bg_color }})
"""
continuation_prompt = '[❯❯ ](fg:blue)'
add_newline     = false
scan_timeout    = 30
command_timeout = 400

#-------------------------------------------------
# Hardware
#-------------------------------------------------
[battery]
disabled           = true
format             = '[$symbol$percentage]($style) '
full_symbol        = " "
charging_symbol    = " "
discharging_symbol = " "
unknown_symbol     = " "
empty_symbol       = " "

[[battery.display]]
threshold = 15
style     = "red bold"

[[battery.display]]
threshold = 95
style     = "yellow bold"

[[battery.display]]
threshold = 99
style     = "green bold"

# ref: https://starship.rs/config/#memory-usage
[memory_usage]
disabled  = true
symbol    = "🐏 "
style     = "fg:{{ .starship.memory.fg_color }} bg:{{ .starship.memory.bg_color }}"
threshold = -1

#-------------------------------------------------
# OS
# ref: https://starship.rs/config/#os
#-------------------------------------------------
[os]
disabled = false
format   = "[$symbol]($style)"
style    = "fg:{{ .starship.env.bg_color }} bg:{{ .starship.env.fg_color }}"

[os.symbols]
Windows = " "
Macos   = " "
Linux   = " "
Arch    = " "
CentOS  = " "
Debian  = " "
Ubuntu  = " "
Amazon  = " "
Unknown = " "

# ref: https://starship.rs/config/#character
[character]
disabled = false

# ref: https://starship.rs/config/#command-duration
[cmd_duration]
disabled = false
format   = "[ $duration ]($style)"
style    = "bold fg:{{ .starship.cmd.color }} bg:{{ .starship.clock.fg_color }}"

# ref: https://starship.rs/config/#hostname
[hostname]
ssh_only = true
trim_at  = "."
format   = "[@$hostname  ]($style)"
style    = {{ .starship.hostname.color | quote }}

# ref: https://starship.rs/config/#username
[username]
show_always = false
format      = "[$user  ]($style)"
style_root  = "red bold"
style_user  = {{ .starship.username.color | quote }}

[time]
disabled    = false
style       = "bold fg:{{ .starship.clock.fg_color }} bg:{{ .starship.clock.bg_color }}"
format      = "[ $time]($style)"
time_range  = "-"
time_format = "%R"

# ref: https://starship.rs/config/#directory
[directory]
style             = 'fg:{{ .starship.path.fg_color }} bg:{{ .starship.env.bg_color }}'
read_only_style   = "fg:{{ .starship.path.ro_color }} bg:{{ .starship.env.bg_color }}"
format            = "[$path ]($style)[$read_only]($read_only_style)"
truncation_length = 3
# truncation_symbol = " "
truncate_to_repo  = false
use_os_path_sep   = true
# home_symbol       = "󰋜 "
fish_style_pwd_dir_length = 1
use_logical_path  = true

[directory.substitutions]
"Documents" = " "
"Downloads" = " "
"Music"     = " "
"Movies"    = "󰨜 "
"Pictures"  = " "
"Public"    = " "
"Desktop"   = " "
"Library"   = "󰀸 "
"Dropbox"   = " "
"Games"     = " "
".Trash"    = " "
".config"   = " "
".cache"    = "󰃨 "
".wine"     = "󰡶 "

# ref: https://starship.rs/config/#jobs
[jobs]
disabled = false
format   = "[$symbol$number]($style) "
style    = "bold blue"
threshold = 1
symbol_threshold = 1
number_threshold = 2

# ref: https://starship.rs/config/#status
[status]
disabled = false

[fill]
symbol = "┈"
style  = "fg:{{ .starship.fill.color }}"

#-------------------------------------------------
# Shell
#-------------------------------------------------
# ref: https://starship.rs/config/#shell
[shell]
disabled = false
format   = "[$indicator]($style) "
style    = "(bold blue)"
bash_indicator = "   "
zsh_indicator  = "💤  "
fish_indicator = "🐟  "
cmd_indicator  = "   "

# ref: https://starship.rs/config/#shlvl
[shlvl]
disabled  = false
threshold = 2
repeat    = false
repeat_offset = 0

[localip]
disabled = false
ssh_only = true

[sudo]
disabled = false
format   = "as [$symbol]($style)"
style    = "bold blue"

# ref: https://starship.rs/config/#package-version
[package]
disabled = false
symbol   = " "
style = "bold"
format          = "[  $symbol $context]($style)"
version_format  = "${raw}"
display_private = false

#-------------------------------------------------
# Git config
#-------------------------------------------------
# ref: https://starship.rs/config/#git-status
[git_status]
style      = ""
format     = "([$all_status$ahead_behind]($style))"
diverged   = "[⇕⇡ ${ahead_count}](fg:{{ .starship.git.status.ahead }})[⇣ ${behind_count}](fg:{{ .starship.git.status.behind }})"
ahead      = "[⟫${count}](fg:{{ .starship.git.status.ahead }}) "
behind     = "[⟪${count}](fg:{{ .starship.git.status.behind }}) "
untracked  = "[󰏑 ${count} ](bold fg:{{ .starship.git.status.untracked }})"
conflicted = "[ ${count} ](bold fg:{{ .starship.git.status.conflicted }} bg:{{ .starship.git.status.warning }})"
stashed    = "[󰋻 ${count} ](bold fg:{{ .starship.git.status.stashed }})"
modified   = "[󱩼 ${count} ](bold fg:{{ .starship.git.status.modified }})"
staged     = "[󰷬 ${count} ](bold fg:{{ .starship.git.status.staged }})"
renamed    = "[󰑕 ${count} ](bold fg:{{ .starship.git.status.renamed }})"
deleted    = "[ ${count} ](bold fg:{{ .starship.git.status.deleted }})"
up_to_date = "[ ](fg:{{ .starship.git.status.up_to_date}})"

# ref: https://starship.rs/config/#git-state
[git_state]
format = "[($state( $progress_current of $progress_total))]($style)"
cherry_pick = '[ PICKING](bold red)'

# ref: https://starship.rs/config/#git-branch
[git_branch]
style  = "fg:{{ .starship.git.branch.fg_color }} bg:{{ .starship.git.branch.bg_color}}"
format = "[$symbol $branch(:$remote_branch) ]($style)"
symbol = ""

# ref: https://starship.rs/config/#git-metrics
[git_metrics]
disabled      = false
added_style   = "fg:{{ .starship.git.metrics.added }}"
deleted_style = "fg:{{ .starship.git.metrics.deleted }}"
format        = "([+$added]($added_style)/[-$deleted]($deleted_style))[ ](fg:{{ .starship.git.metrics.fg_color }})"

# ref: https://starship.rs/config/#git-commit
[git_commit]
style = "bg:{{ .starship.git.commit.bg_color }}"
commit_hash_length = 7

#-------------------------------------------------
# Programming Language
#-------------------------------------------------
{{- range $i, $lang := .starship.langs }}
[{{ $lang.name }}]
symbol = "{{ $lang.icon }} {{ $lang.display }}"
style  = "bold fg:{{ $lang.color }}"
{{- if eq $lang.name "python" }}
format = " [  ${symbol}${pyenv_prefix} (${version} )(($virtualenv) )]($style)"
{{ else }}
format = "[  $symbol $version]($style)"
{{ end -}}
{{ end -}}

#-------------------------------------------------
# Container
# ref: https://starship.rs/config/#container
#-------------------------------------------------
[container]
format = "[  $symbol ($name)]($style)"
style  = 'bright-black'
symbol = '⌘'

[docker_context]
# symbol = " "
style  = "bold fg:#ffffff"
format = "[  $symbol $version]($style)"

# ref: https://starship.rs/config/#kubernetes
[kubernetes]
symbol = "󱃾 "
style  = "purple bold"
format = "[  $symbol ($user in )($cluster on )$context ($namespace)]($style)"

[kubernetes.context_aliases]

[kubernetes.user_aliases]

[terraform]
symbol = " "
format = "[  $symbol $version]($style)"

{{- if .cloud }}
#-------------------------------------------------
# Cloud
#-------------------------------------------------
[aws]
disabled = true
style    = "bold yellow"
format   = "[  on $symbol($profile )(($region) )([$duration] )]($style)"

[aws.region_aliases]
us-east-1      = "va"        # North Virginia
us-east-2      = "oh"        # Ohio
us-west-1      = "ca"        # North California
us-west-2      = "or"        # Oregon
af-south-1     = "za"        # Cape Town
ap-east-1      = "hk"        # Hong Kong
ap-south-1     = "mb"        # Munbai
ap-south-2     = "hyd"       # Hyderabad
ap-southeast-1 = "sg"        # Singapore
ap-southeast-2 = "syd"       # Sydney
ap-southeast-3 = "jk"        # Jakarta
ap-southeast-4 = "mel"       # Melbourne
ap-northeast-1 = "tokyo"     # Tokyo
ap-northeast-2 = "seoul"     # Seoul
ap-northeast-3 = "osaka"     # Osaka
ca-central-1   = "canada"    # Montreal
ca-west-1      = "calgary"   # Calgary
eu-central-1   = "fr"        # Frankfurt
eu-central-2   = "zrh"       # Zurich
eu-west-1      = "ie"        # Ireland
eu-west-2      = "ldn"       # London
eu-west-3      = "pa"        # Paris
eu-south-1     = "mi"        # Milano
eu-south-2     = "es"        # Spain
eu-north-1     = "sthlm"     # Stockholm
il-central-1   = "ta"        # Tel Aviv
me-south-1     = "bh"        # Bahrain
me-central-1   = "ae"        # UAE
sa-east-1      = "br"        # San Paulo

[aws.profile_aliases]
Enterprise_Naming_Scheme-voidstars = 'void**'

[azure]
disabled = true
format   = "[  on $symbol($subscription)]($style) "
symbol   = "󰠅 "

[gcloud]
disabled = true
format   = "[  on $symbol$account(@$domain)(($region))]($style) "
symbol   = " "
style    =  "bold green"
{{- end }}
