# -*-mode:toml-*- vim:ft=toml.gotexttmpl

[alias]
a   = "add"
b   = "build"
br  = "build --release"
brr = "build --release"
r   = "run"
rr  = "run --release"
c   = "check"
f   = "fmt"
t   = "test"
pp  = "clippy"
clr = "clean"
upd = "update"
trp = "tarpaulin -o Xml -v"
d   = "doc"
i   = "install"
o   = "outdated -Rv"

[cargo-new]
name  = {{ .git.user }}
email = {{ .git.email }}
vcs   = "git"

[expand]
pager = true
theme = "Dracula"

[net]
git-fetch-with-cli = true

[build]
jobs = 6

{{ if eq .chezmoi.arch "amd64" -}}
[target.'cfg(target_arch="x86_64")']
rustflags = ["-Ctarget-cpu=native"]
{{ else if eq .chezmoi.arch "arm64" -}}
[target.'cfg(target_arch="aarch64")']
rustflags = ["-Ctarget-cpu=native"]
{{ else if eq .chezmoi.arch "arm" -}}
[target.'cfg(target_arch="arm")']
rustflags = ["-Ctarget-cpu=native"]
{{ end -}}
