{
  "settings": {
    "toolPrefix": "server",
    "directTools": false
  },
  "mcpServers": {
    "context7": { "serverUrl": {{ .ai.mcp.servers.context7.url | quote }}, "headers": { "CONTEXT7_API_KEY": {{ .ai.mcp.servers.context7.headers.CONTEXT7_API_KEY | quote }} } },
    "grep_app": { "serverUrl": {{ .ai.mcp.servers.grep_app.url | quote }} }
  }
}
{{- /*
// -*-mode:json-*- vim:ft=json.gotexttmpl
*/ -}}
