{{- define "repo" }}
type = "git-repo"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{- end }}

["Dev/repos/github.com/commands"]
{{ template "repo" }}
url = "https://github.com/wshobson/commands"

["Dev/repos/github.com/obra/superpowers"]
{{ template "repo" }}
url  = "https://github.com/obra/superpowers"

["Dev/repos/github.com/awesome-claude-code-subagents"]
{{ template "repo" }}
url  = "https://github.com/VoltAgent/awesome-claude-code-subagents"

{{- /*
-*-mode:toml-*- vim:ft=toml.gotexttmpl
*/ -}}
