{{- define "repo" }}
type = "git-repo"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{- end }}

["Dev/repos/github.com/wshobson/commands"]
{{ template "repo" }}
url = "https://github.com/wshobson/commands"

["Dev/repos/github.com/obra/superpowers"]
{{ template "repo" }}
url  = "https://github.com/obra/superpowers"

["Dev/repos/github.com/awesome-claude-code-subagents"]
{{ template "repo" }}
url  = "https://github.com/VoltAgent/awesome-claude-code-subagents"

["Dev/repos/github.com/anthropics/skills"]
{{ template "repo" }}
url = "https://github.com/anthropics/skills"

["Dev/repos/github.com/MasahiroSakoda/skills"]
{{ template "repo" }}
url = "https://github.com/MasahiroSakoda/skills"

{{ range $extension := .gemini.extensions }}
{{- $paths := $extension.url | splitList "/" }}
["Dev/repos/{{ index $paths 2 }}/{{ index $paths 3 }}/{{ index $paths 4 }}"]
{{ template "repo" }}
url = {{ $extension.url | quote }}
{{ end }}

{{- /*
-*-mode:toml-*- vim:ft=toml.gotexttmpl
*/ -}}
