# -*-mode:toml-*- vim:ft=toml.gotexttmpl
{{- define "archive" }}
type = "archive"
refreshPeriod = "672h"
{{- end }}

{{- if and (eq .chezmoi.os "linux") (not .headless) }}
[".local/share/fonts/JetBrainsMono"]
{{ template "archive" }}
{{- $repo := "ryanoasis/nerd-fonts" }}
url  = {{ gitHubLatestReleaseAssetURL $repo (printf "%s.tar.xz" "JetBrainsMono") | quote }}

[".local/share/fonts/PlemolJP"]
{{ template "archive" }}
{{- $repo := "yuru7/PlemolJP" }}
{{- $latestVersion := (gitHubLatestRelease $repo).TagName }}
url  = {{ gitHubLatestReleaseAssetURL $repo (printf "PlemolJP_NF_%s" $latestVersion) | quote }}

[".local/share/fonts/UDEV-Gothic"]
{{ template "archive" }}
{{- $repo := "yuru7/udev-gothic" }}
{{- $latestVersion := (gitHubLatestRelease $repo).TagName }}
url  = {{ gitHubLatestReleaseAssetURL $repo (printf "UDEVGothic_NF_%s.zip" $latestVersion) | quote }}
{{- end }}
