# -*-mode:toml-*- vim:ft=toml.gotexttmpl

{{- if and (eq .chezmoi.os "linux") (not .headless) }}
[".local/share/fonts/JetBrainsMono"]
{{- $repo := "ryanoasis/nerd-fonts" }}
type = "archive"
url  = {{ gitHubLatestReleaseAssetURL $repo (printf "%s.tar.xz" "JetBrainsMono") | quote }}
refreshPeriod = "168h"

[".local/share/fonts/PlemolJP"]
{{- $repo := "yuru7/PlemolJP" }}
{{- $latestVersion := (gitHubLatestRelease $repo).TagName }}
type = "archive"
url  = {{ gitHubLatestReleaseAssetURL $repo (printf "PlemolJP_NF_%s" $latestVersion) | quote }}
refreshPeriod = "168h"

[".local/share/fonts/UDEV-Gothic"]
{{- $repo := "yuru7/udev-gothic" }}
{{- $latestVersion := (gitHubLatestRelease $repo).TagName }}
type = "archive"
url  = {{ gitHubLatestReleaseAssetURL $repo (printf "UDEVGothic_NF_%s.zip" $latestVersion) | quote }}
refreshPeriod = "168h"
{{- end }}
