# -*-mode:toml-*- vim:ft=toml.gotexttmpl
{{- define "repo" }}
type = "git-repo"
exact = true
stripComponents = 1
refreshPeriod = "672h"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
[".local/share/ghostty/shaders"]
{{ template "repo" }}
url = "https://github.com/hackr-sh/ghostty-shaders"
{{- end }}
