# -*-mode:toml-*- vim:ft=toml.gotexttmpl

# [".config/nushell/nu_scripts"]
# type  = "git-repo"
# url   = "https://github.com/nushell/nu_scripts"
# exact = true
# refreshPeriod = "168h"

############################################################
# Theme
############################################################
[".local/share/nushell/themes/onedark.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/refs/heads/main/themes/nu-themes/onedark.nu"
refreshPeriod = "168h"

############################################################
# Completions
############################################################
## Primary Commands:
[".local/share/nushell/completions/eza-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/eza/eza-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/less-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/less/less-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/bat-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/bat/bat-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/btm-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/btm/btm-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/curl-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/curl/curl-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/tar-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/tar/tar-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/make-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/make/make-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/ssh-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/ssh/ssh-completions.nu"
refreshPeriod = "168h"

## Git
[".local/share/nushell/completions/git-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/git/git-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/gh-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/gh/gh-completions.nu"
refreshPeriod = "168h"

## Docker
[".local/share/nushell/completions/docker-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/docker/docker-completions.nu"
refreshPeriod = "168h"

## Language Environment
### Rust
[".local/share/nushell/completions/cargo-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/cargo/cargo-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/rustup-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/rustup/rustup-completions.nu"
refreshPeriod = "168h"

### Node.js
[".local/share/nushell/completions/npm-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/npm/npm-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/yarn-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/yarn/yarn-v4-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/pnpm-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/pnpm/pnpm-completions.nu"
refreshPeriod = "168h"

### Python

## Other Commanands
[".local/share/nushell/completions/rg-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/rg/rg-completions.nu"
refreshPeriod = "168h"

[".local/share/nushell/completions/vscode-completions.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/vscode/vscode-completions.nu"
refreshPeriod = "168h"

############################################################
# Modules from nu_scripts
############################################################
[".config/nushell/scripts/system/mod.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/modules/system/mod.nu"
refreshPeriod = "168h"

[".config/nushell/scripts/argx/mod.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/modules/argx/mod.nu"
refreshPeriod = "168h"

## fzf: fuzzy finder
[".config/nushell/scripts/fzf/fuzzy_history_search.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/modules/fuzzy/fuzzy_history_search.nu"
refreshPeriod = "168h"
[".config/nushell/scripts/fzf/fuzzy_command_search.nu"]
type = "file"
url  = "https://raw.githubusercontent.com/nushell/nu_scripts/main/modules/fuzzy/fuzzy_command_search.nu"
refreshPeriod = "168h"
