# -*-mode:toml-*- vim:ft=toml.gotexttmpl
{{ $baseURL := "https://raw.githubusercontent.com/nushell/nu_scripts/main" }}

############################################################
# Theme
############################################################
# TODO: This might be replaced `nupm`
{{- range $theme := .nushell.themes }}
[".local/share/nushell/themes/{{ $theme }}.nu"]
type = "file"
url  = {{ (printf "%s/themes/nu-themes/%s.nu" $baseURL $theme ) | quote }}
refreshPeriod = "168h"
{{- end }}

############################################################
# Completions
############################################################
# TODO: This might be replaced `nupm`
{{- range $completion := .nushell.completions }}
[".local/share/nushell/completions/{{ $completion }}-completions.nu"]
type = "file"
url  = {{ (printf "%s/custom-completions/%s/%s-completions.nu" $baseURL $completion $completion ) | quote }}
refreshPeriod = "168h"
{{- end }}

############################################################
# Modules from nu_scripts
############################################################
# TODO: This might be replaced `nupm`
{{- range $module := .nushell.modules }}
[".config/nushell/scripts/{{ $module }}/mod.nu"]
type = "file"
url  = {{ (printf "%s/modules/%s/mod.nu" $baseURL $module) | quote }}
refreshPeriod = "168h"
{{- end }}

## fzf: fuzzy finder
[".config/nushell/scripts/fzf/fuzzy_history_search.nu"]
type = "file"
url  = {{ (printf "%s/modules/fuzzy/fuzzy_history_search.nu" $baseURL ) | quote }}
refreshPeriod = "168h"

[".config/nushell/scripts/fzf/fuzzy_command_search.nu"]
type = "file"
url  = {{ (printf "%s/modules/fuzzy/fuzzy_command_search.nu" $baseURL ) | quote }}
refreshPeriod = "168h"
