{{- define "repo" }}
type = "git-repo"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{- end }}

# renovate: datasource=github-releases depName=obra/superpowers
{{ $superpowersVersion := "4.0.3" -}}

["Dev/repos/github.com/superpowers"]
{{ template "repo" }}
url  = "https://github.com/obra/superpowers"
args = ["--branch", {{ $superpowersVersion | quote }}]

{{- /*
-*-mode:toml-*- vim:ft=toml.gotexttmpl
*/ -}}
