# -*-mode:toml-*- vim:ft=toml.gotexttmpl
{{- define "repository" }}
type  = "git-repo"
exact = true
stripComponents = 1
refreshPeriod   = "672h"
{{- end }}

[".local/share/tmux/plugins/tpm"]
{{ template "repository" }}
url = "https://github.com/tmux-plugins/tpm"
