# -*-mode:toml-*- vim:ft=toml.gotexttmpl
{{- define "file" }}
type = "file"
executable = true
stripComponents = 1
refreshPeriod = "672h"
{{- end }}

[".local/share/zellij/plugins/multitask.wasm"]
{{ template "file" }}
url = {{ gitHubLatestReleaseAssetURL "imsnif/multitask" "multitask.wasm" | quote }}

[".local/share/zellij/plugins/zellij-autolock.wasm"]
{{ template "file" }}
url = {{ gitHubLatestReleaseAssetURL "fresh2dev/zellij-autolock" "zellij-autolock.wasm" | quote }}

[".local/share/zellij/plugins/zjstatus.wasm"]
{{ template "file" }}
url = {{ gitHubLatestReleaseAssetURL "dj95/zjstatus" "zjstatus.wasm" | quote }}

[".local/share/zellij/plugins/zjframes.wasm"]
{{ template "file" }}
url = {{ gitHubLatestReleaseAssetURL "dj95/zjstatus" "zjframes.wasm" | quote }}
