# -*-mode:toml-*- vim:ft=toml.gotexttmpl
{{- define "file" }}
type = "file"
executable = true
stripComponents = 1
refreshPeriod = "672h"
{{- end }}

{{- range $plugin := .zellij.plugins }}
[".local/share/zellij/plugins/{{ $plugin.file }}"]
{{ template "file" }}
url = {{ gitHubLatestReleaseAssetURL $plugin.repo $plugin.file | quote }}
{{- end }}
