// Zed keybinds: https://zed.dev/docs/key-bindings
[
  {
    "context": "Editor && VimControl && !VimWaiting && !menu",
    "bindings": {
      // Find
      "space f f": "file_finder::Toggle",
      "space f p": "projects::OpenRecent",
      "space f b": "tab_switcher::Toggle",

      // Grep
      "space /": "pane::DeploySearch",
      "space s o": "outline::Toggle",
      "space s s": "project_symbols::Toggle",
      "space s d": "diagnostics::Deploy",
      "space :": "command_palette::Toggle",
      "space ?": "dev::OpenKeyContextView",

      // Goto
      "g d": "editor::GoToDefinition",
      "g D": "editor::GoToDeclaration",
      "g v": "editor::GoToDefinitionSplit",
      "g y": "editor::GoToTypeDefinition",
      "g I": "editor::GoToImplementation",
      "shift-k": "editor::Hover",
      "g r": "editor::FindAllReferences",
      "g a": "editor::ToggleCodeActions",
      "g c c": "editor::ToggleComments",

      // Window
      "cmd-[": "window::ShowPreviousWindowTab",
      "cmd-]": "window::ShowNextWindowTab",

      // Dock
      "": "ToggleLeftDock",
      "": "ToggleRightDock",

      // Pane
      "space -": "pane::SplitDown",
      "space |": "pane::SplitRight",
      "space <": "pane::SwapItemLeft",
      "space >": "pane::SwapItemRight",
      "space u": "pane::ReopenClosedItem",
      "[ b": "pane::ActivatePreviousItem",
      "] b": "pane::ActivateNextItem",
      "[ w": "workspace::ActivatePaneLeft",
      "] w": "workspace::ActivatePaneRight",

      // Buffer
      "space q": "pane::CloseActiveItem",

      // Diff
      "[ g": "editor::GoToPreviousHunk",
      "] g": "editor::GoToHunk",

      // Diagnostics
      "[ d": "editor::GoToPreviousDiagnostic",
      "] d": "editor::GoToDiagnostic",

      // Git
      "space g g": "git_panel::ToggleFocus",
      "g b": "git::Blame",
      "g h": "git::FileHistory",

      // Language / LSP
      "space l": "lsp_tool::ToggleMenu",
      "space L": "language_selector::Toggle",
      "space c a": "editor::ToggleCodeActions",
      "space c r": "editor::Rename",
      "space c f": "editor::Format",

      // Zed Ai
      "space a": "agent::ToggleFocus",
      "space A": "assistant::ToggleFocus",
      "space ;": "assistant::InlineAssist"
    }
  },
  {
    "context": "Editor && (showing_code_actions || showing_completions)",
    "bindings": {
      "enter": "editor::ConfirmCompletion",
     "shift-tab": "editor::ContextMenuPrevious",
      "tab": "editor::ContextMenuNext",
      "up": "editor::ContextMenuPrevious",
      "down": "editor::ContextMenuNext",
      "pageup": "editor::ContextMenuFirst",
      "pagedown": "editor::ContextMenuLast"
    }
  },
  // Panel Navigations
  {
    "context": "ProjectPanel && not_editing",
    "bindings": {
      "a f": "project_panel::NewFile",
      "a d": "project_panel::NewDirectory",
      "r": "project_panel::Rename",
      "x": "project_panel::Cut",
      "p": "project_panel::Paste",
      "d": "project_panel::Trash",
      "y": "project_panel::Copy",
      "enter": "editor::OpenSelectedFilename"
    }
  },
  {
    "bindings": {
      "ctrl-shift-p": "command_palette::Toggle",
      "ctrl-w h": "workspace::ActivatePaneLeft",
      "ctrl-w l": "workspace::ActivatePaneRight",
      "ctrl-w k": "workspace::ActivatePaneUp",
      "ctrl-w j": "workspace::ActivatePaneDown",
      "cmd-j": "terminal_panel::Toggle"
    }
  }
]
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
