{{- /*
// Zed keybinds
// documentation: https://zed.dev/docs/key-bindings
*/ -}}
[
  {
    "context": "Pane || EmptyPane",
    "bindings": {
      "cmd-1": "project_panel::ToggleFocus",
      "cmd-2": "git_panel::ToggleFocus",
      "cmd-3": "collab_panel::ToggleFocus",
      "cmd-4": "pane::DeploySearch",
      "cmd-5": "diagnostics::Deploy",
      "cmd-6": "terminal_panel::Toggle",
      "cmd-7": "debug_panel::ToggleFocus",
      "cmd-8": "agent::ToggleFocus",
      "cmd-9": "outline_panel::ToggleFocus",
      "cmd-0": "notification_panel::ToggleFocus",
      "cmd-[": "window::ShowPreviousWindowTab",
      "cmd-]": "window::ShowNextWindowTab",
      "cmd-shift-o": "projects::OpenRecent",
    }
  },

  {{/*
  // ===========================================================================
  // Workspace
  // ===========================================================================
  */ -}}
  {
    "context": "Workspace && !Editor",
    "bindings": {"ctrl-shift-p": "command_palette::Toggle"}
  },
  {{/*
  // ===========================================================================
  // Navigation
  // ===========================================================================
  */ -}}
  {
    "context": "EmptyPane || SharedScreen",
    "bindings": {
      "space space": "file_finder::Toggle",
      "space f": "file_finder::Toggle",
      "space n": "workspace::NewFile",
      "space p": "projects::OpenRecent",
      "space q": "zed::Quit"
    }
  },
  {
    "context": "Dock || Terminal || Editor",
    "bindings": {
      "ctrl-w h": "workspace::ActivatePaneLeft",
      "ctrl-w l": "workspace::ActivatePaneRight",
      "ctrl-w k": "workspace::ActivatePaneUp",
      "ctrl-w j": "workspace::ActivatePaneDown"
    }
  },
  {
    "context": "(Editor && VimControl && !VimWaiting && !menu) || ProjectPanel || GitPanel || CollabPanel || Diagnostics",
    "bindings": {"space e": "workspace::ToggleLeftDock"}
  },
  {
    "context": "ProjectPanel && not_editing",
    "bindings": {
      "cmd-1": "workspace::ToggleLeftDock",
      ":": "command_palette::Toggle",
      "/": "project_panel::NewSearchInDirectory",
      "escape": "project_panel::ToggleFocus",
      "enter": "project_panel::OpenPermanent",
      "j": "menu::SelectNext",
      "k": "menu::SelectPrevious",
      "l": "project_panel::ExpandSelectedEntry",
      "g g": "menu::SelectFirst",
      "shift-g": "menu::SelectLast"
    }
  },
  {
    "context": "GitPanel && ChangesList",
    "bindings": {
      "cmd-2": "workspace::ToggleLeftDock",
      "q": "workspace::CloseActiveDock",
      "tab": "git_panel::FocusChanges",
      "space g g": "git_panel::Close"
    }
  },
  {
    "context": "CollabPanel",
    "bindings": {"cmd-3": "workspace::ToggleLeftDock"}
  },
  {{/* FIXME: Refine project search keymaps */}}
  {
    "context": "ProjectSearch",
    "bindings": {"cmd-4": "pane::CloseActiveItem"}
  },
  {
    "context": "Diagnostics",
    "bindings": {"cmd-5": "pane::CloseActiveItem", "q": "pane::CloseActiveItem"}
  },
  {
    "context": "Terminal",
    "bindings": {
      "cmd-6": "workspace::ToggleBottomDock",
      "shift-enter": [ "terminal::SendText", "\u001b\r" ]
    }
  },
  {
    "context": "Terminal && screen==normal",
    "bindings": {"escape": "terminal_panel::Toggle"}
  },
  {
    "context": "DebugPanel",
    "bindings": {
      "ctrl-t": "debugger::ToggleThreadPicker",
      "ctrl-i": "debugger::ToggleSessionPicker",
      "shift-alt-escape": "debugger::ToggleExpandItem",
      "cmd-7": "workspace::ToggleBottomDock"
    }
  },
  {
    "context": "VariableList",
    "bindings": {
      "left": "variable_list::CollapseSelectedEntry",
      "right": "variable_list::ExpandSelectedEntry",
      "enter": "variable_list::EditVariable",
      "ctrl-c": "variable_list::CopyVariableValue",
      "ctrl-alt-c": "variable_list::CopyVariableName",
      "delete": "variable_list::RemoveWatch",
      "backspace": "variable_list::RemoveWatch"
    }
  },
  {
    "context": "BreakpointList",
    "bindings": {
      "space": "debugger::ToggleEnableBreakpoint",
      "backspace": "debugger::UnsetBreakpoint",
      "left": "debugger::PreviousBreakpointProperty",
      "right": "debugger::NextBreakpointProperty"
    }
  },
  {
    "context": "AgentPanel",
    "bindings": {"cmd-8": "workspace::ToggleRightDock"}
  },
  {
    "context": "AgentPanel && !(vim_mode==insert)",
    "bindings": {
      "q": "workspace::CloseActiveDock",
      "tab": "agent::ToggleFocus"
    }
  },
  {
    "context": "AgentPanel > Editor && VimControl",
    "bindings": {
      "q": "workspace::CloseActiveDock",
      "ctrl-.": "workspace::ToggleRightDock",
      "ctrl-n": "agent::NewThread",
    }
  },
  {
    "context": "OutlinePanel",
    "bindings": {
      "cmd-9": "workspace::ToggleRightDock"
    }
  },
  {
    "context": "NotificationPanel",
    "bindings": {
      "cmd-0": "workspace::CloseActiveDock"
    }
  },
  {
    "context": "FileFinder || TabSwitcher",
    "bindings": {
      "ctrl-p": "menu::SelectPrevious",
      "ctrl-n": "menu::SelectNext",
      "ctrl-s": "pane::SplitDown",
      "ctrl-v": "pane::SplitRight"
    }
  },
  {{/*
  // ===========================================================================
  // Vim mode
  // ===========================================================================
  */ -}}
  {
    "context": "vim_mode == normal",
    "bindings": {
    }
  },
  {
    "context": "Editor && VimControl && !VimWaiting && !menu",
    "bindings": {
      "j k": "vim::NormalBefore",
      "super-b": "workspace::ToggleLeftDock",
      "space w q": "workspace::CloseWindow",
      "space w s": "pane::SplitDown",
      "space w v": "pane::SplitRight",
      "space -": "pane::SplitDown",
      "space |": "pane::SplitRight",
      "space L": "language_selector::Toggle",
      "[ b": "pane::ActivatePreviousItem",
      "] b": "pane::ActivateNextItem",
      "[ g": "editor::GoToPreviousHunk",
      "] g": "editor::GoToHunk",
      "[ d": "editor::GoToPreviousDiagnostic",
      "] d": "editor::GoToDiagnostic",
      "[ w": "workspace::ActivatePaneLeft",
      "] w": "workspace::ActivatePaneRight",
      // "space /": "pane::DeploySearch",
      "space ?": "dev::OpenKeyContextView",
      "space g g": "git_panel::ToggleFocus",
      "space g b": "git::Blame",
      "space g d": "git::FileHistory",
      "space space": "file_finder::Toggle",
      "space f r": "projects::OpenRecent",
      "space f w": "workspace::Open",
      "space f f": "file_finder::Toggle",
      "space z": "workspace::ToggleCenteredLayout",
      "space e": "workspace::ToggleLeftDock",
      "-": "workspace::ToggleLeftDock",
      "g d": "editor::GoToDefinitionSplit",
      "g D": "editor::ToggleInlineDiagnostics",
      "g i": "editor::GoToImplementation",
      "g n": "editor::Rename",
      "g a": "editor::ToggleCodeActions",
      "g r": "editor::FindAllReferences",
      "K": "editor::Hover",
      // "space a n": [ "agent::NewExternalAgentThread", {"agent": "native_agent"} ],
      // "space a c": [ "agent::NewExternalAgentThread", {"agent": "claude_code"} ],
      // "space a x": [ "agent::NewExternalAgentThread", {"agent": "codex"} ],
      // "space a g": [ "agent::NewExternalAgentThread", {"agent": "gemini"} ],
      "ctrl-.": "assistant::ToggleFocus",
      "space a i": "assistant::InlineAssist",
    }
  },
]
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
