{{- /*
// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
*/ -}}
{
  "vim_mode": true,
  "restore_on_startup": "last_workspace",
  "auto_update": false,
  "telemetry": { "metrics": false, "diagnostics": false },
  {{/*
  // ===========================================================================
  // Appearance
  // ===========================================================================
  */ -}}
  "icon_theme": "Zed (Default)",
  "theme": { "light": "GitHub Dark", "dark": "GitHub Dark", "mode": "system" },
  "bottom_dock_layout": "full",
  "relative_line_numbers": "enabled",
  {{/* Font config */ -}}
  "buffer_font_family": {{ .font.family.combined | quote }},
  "buffer_font_size": {{ .font.size.medium }},
  "buffer_font_features": { "calt": true, "liga": true, "zero": true },
  "ui_font_family": {{ .font.family.combined | quote }},
  "ui_font_size": {{ .font.size.large }},
  {{/* Panel config */ -}}
  "project_panel": { "dock": "left" },
  "collaboration_panel": { "dock": "left" },
  "outline_panel": { "dock": "right" },
  "git_panel": {
    "dock": "left",
    "button": true,
    "status_style": "icon"
  },
  {{/* Editor config */ -}}
  "colorize_brackets": true,
  "show_whitespaces": "boundary",
  "whitespace_map": { "space": "･", "tab": "→" },
  "inlay_hints": { "enabled": true },
  {{/*
  // ===========================================================================
  // Navigation & Search
  // ===========================================================================
  */ -}}
  "file_finder": {
    "file_icons": true
  },
  "preview_tabs": {
    "enabled": true,
    "enable_preview_from_file_finder": false
  },
  "title_bar": {
    "show_branch_name": true,
    "show_project_items": false,
    "show_onboarding_banner": false,
    "show_user_picture": false,
    "show_sign_in": false,
    "show_menus": true
  },
  "tab_bar": {
    "show": true,
    "show_nav_history_buttons": false,
    "show_tab_bar_buttons": false
  },
  "toolbar": {
    "breadcrumbs": false,
    "quick_actions": true
  },
  "scrollbar": {
    "show": "auto",
    "cursors": true,
    "git_diff": false,
    "selected_symbol": false
  },
  "search": {"regex": true},
  "use_smartcase_search": true,
  {{/*
  // ===========================================================================
  // File Management
  // ===========================================================================
  */ -}}
  "autosave": "on_focus_change",
  "file_scan_exclusions": [
    "**/.git",
    "**/.svn",
    "**/.hg",
    "**/.jj",
    "**/node_modules",
    "**/.venv",
    "**/venv",
    "**/__pycache__",
    "**/target",
    "**/.DS_Store",
    "Thumbs.db",
    "**/.idea",
    "**/.vscode"
  ],
  "file_types": {{ .zed.filetypes | toPrettyJson | indent 2 | trim }},
  {{/*
  // ===========================================================================
  // Git
  // ===========================================================================
  */ -}}
  "git": {
    "inline_blame": { "enabled": false, "delay_ms": 500 }
  },
  {{/*
  // ===========================================================================
  // Terminal
  // ===========================================================================
  */ -}}
  "terminal": {
    "shell": { "program": {{ .shell | quote }} },
    "font_family": {{ .font.family.combined | quote }},
    "font_size": {{ .font.size.large }},
    "working_directory": "current_project_directory",
    "copy_on_select": false
  },
  {{/*
  // ===========================================================================
  // Remote Development
  // ===========================================================================
  */ -}}
  "ssh_connections": [],
  "wsl_connections": [],
  {{/*
  // ===========================================================================
  // Extension config
  // ===========================================================================
  */ -}}
  "auto_install_extensions": {{ .zed.extensions | toPrettyJson | indent 2 | trim }},
  {{/*
  // ===========================================================================
  // LSP
  // ===========================================================================
  */ -}}
  "lsp": {
    "bash-language-server": {
      "initialization_options": {
        "includeAllWorkspaceSymbols": true,
        "globPattern": "**/*@(.sh|.inc|.bash|.command)"
      }
    },
  {{/*
    "fish-lsp": {
      "initialization_options": {}
    },
  */ -}}
    "clangd": {
      "binary": {
        "path": "clangd",
        "arguments": ["--background-index", "--clang-tidy", "--suggest-missing-includes"]
      }
    },
    "rust-analyzer": {
      "initialization_options": {
        "check": { "command": "clippy" },
        "cargo": { "allFeatures": true }
      }
    },
    "gopls": {
      "initialization_options": {
        "directoryFilters": [ "-**/.git", "-**/.zed", "-**/.vscode", "-**/.cursor" ],
        "usePlaceholders": true,
        "completeUnimported": true,
        "staticcheck": true
      }
    },
    "golangci-lint": {
      "initialization_options": {
        "command": ["golangci-lint", "run", "--output.json.path=stdout", "--issues-exit-code=1", "--show-stats=false"]
      }
    },
    "ty": {
      "settings": {
        "completions": { "autoImport": true },
        "diagnosticMode": "workspace",
        "inlayHits": {
          "variableTypes": true,
          "callArgumentNames": true,
          "functionReturnTypes": true,
          "parameterTypes": true,
          "parameterNames": true
        }
      }
    },
    "ruff": {
      "initialization_options": {
        "settings": {
          "lint": {
            "extendSelect": []
          },
          "ignore": ["E501"]
        }
      }
    },
    "lua-language-server": {
      "settings": {
        "Lua": {
          "diagnostics": {
            "globals": ["vim", "hs", "error", "use", "describe", "it", "before_each", "after_each", "MiniTest", "Snacks"]
          },
          "format": { "enable": false },
          "hint": { "enable": true },
          "runtime": { "version": "LuaJIT" },
          "telemetry": { "enable": false },
          "workspace": {
            "library": { "vim": true, "checkThirdparty": false }
          }
        }
      }
    },
    "typescript-language-server": {
      "initialization_options": {
        "preferences": {
          "excludeDirectories": ["**/node_modules", "**/.wrangler"],
          "includeInlayEnumMemberValueHints": true,
          "includeInlayFunctionLikeReturnTypeHints": true,
          "includeInlayFunctionParameterTypeHints": true,
          "includeInlayParameterNameHints": "all",
          "includeInlayParameterNameHintsWhenArgumentMatchesName": true,
          "includeInlayPropertyDeclarationTypeHints": true,
          "includeInlayVariableTypeHints": true
        }
      }
    },
    "json-language-server": {
      "settings": {
        "json": {
          "format": { "enable": false, "singleQuote": false },
          "validate": { "enable": true },
          "completion": true,
          "hover": true
        }
      }
    },
    "yaml-language-server": {
      "settings": {
        "redhat": { "telemetry": { "enabled": false } },
        "yaml": {
          "keyOrdering": false,
          "validate": true,
          "completion": true,
          "hover": true
        }
      }
    },
    "tailwindcss-language-server": {
      "settings": {
        "classAttributes": ["class", "className", "class:list", "classList", "ngClass"],
        "classFunctions": ["cva", "cx", "tw", "twMerge"],
        "tailwindCSS": { "validate": true }
      }
    },
    "tombi": {
      "binary": {
        "path": {{ joinPath (env "XDG_DATA_HOME") "mise" "shims" "tombi" | quote }},
        "arguments": ["lsp"]
      }
    },
    "biome": {
      "settings": {
        "require_config_file": true,
        "config_path": "./biome.json"
      }
    },
    "oxfmt": {
      "initialization_options": {
        "settings": {
          "fmt.configPath": "oxfmt.config.ts",
          "run": "onSave"
        }
      }
    },
    "oxlint": {
      "initialization_options": {
        "settings": {
          "configPath": "oxlint.config.ts",
          "run": "onType",
          "disableNestedConfig": false,
          "fixKind": "safe_fix",
          "typeAware": true,
          "unusedDisableDirectives": "deny"
        }
      }
    },
    "rumdl": {
      "binary": { "path": "rumdl", "arguments": ["server"] }
    },
    "texlab": {
      "settings": {
        "texlab": {
          "build": { "onSave": false, "forwardSearchAfter": true },
          "formatterLineLength": 120,
          "bibtexFormatter": "texlab",
          "latexFormatter": "texlab",
          "diagnostics": {
            "allowedPatterns": []
          }
        }
      }
    }
  },
  "auto_signature_help": true,
  "diagnostics": { "include_warnings": true },
  {{/*
  // ===========================================================================
  // Language-specific config
  // ===========================================================================
  */ -}}
  "languages": {
    "Shell Script": {
      "format_on_save": "on",
      "formatter": { "external": { "command": "shfmt", "arguments": [ "--filename", "{buffer_path}" ] } },
      "language_servers": ["bash-language-server"]
    },
    "C": {
      "format_on_save": "on",
      "formatter": {"external": {"command": "clang_format", "arguments": [ "{buffer_path}" ]}},
      "language_servers": [ "clangd" ]
    },
    "C++": {
      "format_on_save": "on",
      "formatter": { "external": { "command": "clang_format", "arguments": [ "{buffer_path}" ] } },
      "language_servers": [ "clangd" ]
    },
    "Rust": {
      "language_servers": [ "rust-analyzer" ],
      "code_actions_on_format": {
      }
    },
    "Go": {
      "format_on_save": "on",
      "formatter": { "external": { "command": "golangci-lint", "arguments": [ "fmt", "--stdin" ] } },
      "language_servers": [ "gopls", "golangci-lint" ]
    },
    "Python": {
      "format_on_save": "on",
      "formatter": { "language_server": { "name": "ruff" } },
      "language_servers": [ "ruff", "ty", "!basedpyright" ]
    },
    {{/*
    "Ruby": {
      "format_on_save": "on",
      "formatter": { "language_server": { "name": "ruby-lsp" } },
      "language_servers": [ "ruby-lsp", "!solargraph", "rubocop" ]
    },
    */ -}}
    "Lua": {
      "language_servers": [ "lua-language-server" ]
    },
    "JavaScript": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "oxfmt" } },
      "language_servers": ["typescript-language-server", "oxlint", "oxfmt", "!!biome", "!prettier", "!eslint", "..."]
    },
    "TypeScript": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "oxfmt" } },
      "language_servers": ["typescript-language-server", "oxlint", "oxfmt", "!tsgo", "!vtsls", "!!biome", "!prettier", "!eslint", "..."]
    },
    "TSX": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "oxfmt" } },
      "language_servers": ["typescript-language-server", "oxlint", "oxfmt", "!tsgo", "!vtsls", "!!biome", "!prettier", "!eslint", "..."]
    },
    "JSON": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "oxfmt" } },
      "language_servers": ["!!biome", "!prettier", "!eslint", "..."]
    },
    "JSONC": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "oxfmt" } },
      "language_servers": ["!!biome", "!prettier", "!eslint", "..."]
    },
    "YAML": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "external": { "command": "yamlfmt", "arguments": [ "--filename", "{buffer_path}" ] } },
      "language_servers": ["!!biome", "!prettier", "!eslint", "..."]
    },
    "TOML": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "tombi" } },
      "language_servers": [ "!biome", "!prettier", "!eslint", "tombi", "..." ]
    },
    {{/*
    "KDL": {
      "format_on_save": "on"
    },
    */ -}}
    "HTML": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "oxfmt" } }
    },
    "CSS": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "oxfmt" } },
      "language_servers": ["!biome", "!prettier", "!eslint", "..."]
    },
    "Markdown": {
      "format_on_save": "on",
      "prettier": { "allowed": false },
      "formatter": { "language_server": { "name": "rumdl" } },
      "language_servers": [ "rumdl", "!biome", "!prettier", "!eslint" ]
    },
    "Markdown-Inline": {
      "show_edit_predictions": false
    {{/*
    },
    "LaTex": {
      "format_on_save": "on",
      "formatter": { "external": { "command": "yamlfmt", "arguments": [ "--filename", "{buffer_path}" ] } },
    */ -}}
    }
  },
  {{/*
  // ===========================================================================
  // AI agent config
  // ===========================================================================
  */ -}}
  "agent": {
    "dock": "right",
    "auto_compact": { "enabled": true, "threshold": "80%" },
    "play_sound_when_agent_done": "always",
    "default_model": {
      "provider": "opencode",
      "model": "zen/deepseek-v4-flash-free",
      "enable_thinking": true
    },
    {{/*
    "inline_assistant_model": { "provider": "opencode", "model": "zen/deepseek-v4-flash-free", "enable_thinking": false },
    "subagent_model": { "provider": "opencode", "model": "zen/deepseek-v4-flash-free", "enable_thinking": true },
    */ -}}
    "thread_summary_model": { "provider": "opencode", "model": "zen/deepseek-v4-flash-free", "enable_thinking": true },
    "model_parameters": [],
    "enable_feedback": false
  },
  "agent_servers": {
    "gemini": {"type": "registry", "env": {"GEMINI_SANDBOX": "true"} },
    "opencode": {"type": "registry" }
  },
  "language_models": {
    "opencode": {
      "show_zen_models": true,
      "show_go_models": false,
      "show_free_models": true
    }
  },
  "edit_predictions": {
    "provider": "zed",
    "mode": "eager",
    "disabled_globs": [ "**/.env*", "**/*.age", "**/secrets/**", "**/*.pem", "**/*.key", "**/*.cert", "**/secrets.yml" ]
  }
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
