[
  {
    "label": "Oil",
    "command": "exec nvim --cmd \"set noswapfile\" -c \"lua require('oil').open_float('$ZED_DIRNAME')\" -c \"autocmd FileType oil nnoremap <buffer>silent> q :qa!<CR>\"",
    "user_new_terminal": true,
    "target": "center",
    "hide": "always"
  }
]
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
