{
  "$schema": "https://www.schemastore.org/codex-hooks.json",
  "hooks": {
    "Stop": [
      {
        "hooks": [{ "type": "command", "command": "~/.codex/hooks/completed-notifier.sh" }]
      }
    ],
    "PermissionRequest": [
      {
        "hooks": [{ "type": "command", "command": "~/.codex/hooks/request-noifier.sh" }]
      }
    ]
  }
}
{{- /*
  // -*-mode:json-*- vim:ft=json.gotexttmpl
     */ -}}
