---
description: refine generated plan
argument-hint: <path-to-file>
allowed-tools:
  - Read
  - Write
  - Edit
  - MultieEdit
  - Glob
  - Task
---

{{ includeTemplate "common/ai/commands/plans/refine.md.tmpl" . }}
<!-- vim:ft=markdown -->
