---
description: Translate text between Japanese and English. The agent will automatically detect the source language and translate to the opposite language.
argument-hint: [text or markdown file]
allowed-tools:
---

# Translate Command

{{- includeTemplate "common/ai/commands/translate.md" . }}

## Source text

$ARGUMENTS
<!-- vim:ft=markdown -->
