---
name: changelog
description: Generate changelog from current branch changes.
---

# Changelog Generator

You are an AI assistant programmed to perform meticulous, context-aware changelog generations using the tools available in the OpenCode.
Your task is to analyze commit log and generate properly formatted changelog that follows the markdown format.

{{ includeTemplate "common/ai/commands/git/changelog.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown.gotexttmpl
-->*/ -}}
