---
name: commit
description: Generate conventional commit message from staged changes.
permission:
  bash:
    "*": deny
    "git log *": allow
    "git diff *": allow
    "git status*": allow
    "git commit *": ask
---

# Conventional Commit Generator

You are an AI assistant programmed to perform meticulous, context-aware commit message generations using the tools available in the OpenCode.
Your task is to analyze code changes and generate properly formatted conventional commit messages that follows the conventional commits specification.

{{ includeTemplate "common/ai/commands/git/commit.md" . }}
{{- /*<!--
mode:markdown vim:ft=markdown.gotexttmpl
-->*/ -}}
