{
  {{/* General Settings */ -}}
  "$schema": "https://www.schemastore.org/claude-code-settings.json",
  "verbose": false,
  "autoUpdates": false,
  "theme": "dark",

  "model": "sonnet",
  "includeCoAuthoredBy": false,

  "env": {
    "EDITOR": "nvim",
    "GIT_EDITOR": "nvim"
  },

  "statusLine": {
    "type": "command",
    "command": "pnpm dlx ccusage@latest statusline",
    "padding": 0
  },

  {{/* MCP server configurations */ -}}
  {{- $servers := dict -}}
  {{- range $key, $value := includeTemplate "common/ai/mcp-servers.json.tmpl" . | fromJson -}}
  {{-   if and ($value | hasKey "type") (eq $value.type "stdio") -}}
  {{-     $_ := $value | setValueAtPath "type" "local" -}}
  {{-   else if and ($value | hasKey "type") (eq $value.type "http") -}}
  {{-     $_ := $value | setValueAtPath "type" "remote" -}}
  {{-   end -}}
  {{- $_ := $servers | setValueAtPath $key $value -}}
  {{- end -}}
  "mcpServers": {{ $servers | toPrettyJson | indent 2 | trim }},

  {{/* Permission */ -}}
  "permissions": {{ template "common/ai/claude-permissions.json" . }}
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
