# -*-mode:ruby-*- vim:ft=ruby.gotexttmpl

# Homebrew

## GNU
{{- range .packages.brew.core | uniq }}
brew {{- . | quote }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{ range .packages.brew.mac | uniq }}
brew {{ . | quote }}
{{- end }}
{{- end }}

## Shell
{{- range .packages.brew.shell | uniq }}
brew {{ . | quote }}
{{- end }}

# Browser
{{- range .packages.brew.browser | uniq }}
brew {{ . | quote }}
{{- end }}

# Downloader
{{- range .packages.brew.downloader | uniq }}
brew {{ . | quote }}
{{- end }}

# Terminal
{{- range .packages.brew.terminal | uniq }}
brew {{ . | quote }}
{{- end }}

## Security
{{- range .packages.brew.security | uniq }}
brew {{ . | quote }}
{{- end }}

## Version Control
{{- range .packages.brew.vcs | uniq }}
brew {{ . | quote }}
{{- end }}

## Lua
{{- range .packages.brew.lua | uniq }}
brew {{ . | quote }}
{{- end }}

{{- if not .headless }}

## Runtime Management
{{- range .packages.brew.runtime | uniq }}
brew {{ . | quote }}
{{- end }}

{{- if and .cloud (not .headless) }}
## DevOps
{{ range .packages.brew.devops | uniq }}
brew {{ . | quote }}
{{ end }}

{{- end }}

## Media
{{- range .packages.brew.media | uniq }}
brew {{ . | quote }}
{{- end }}

### Images
{{- range .packages.brew.image | uniq }}
brew {{ . | quote }}
{{- end }}

## Network
{{- range .packages.brew.network | uniq }}
brew {{ . | quote }}
{{- end }}

{{- end }}

{{- if eq .chezmoi.os "linux" }}
# Linux packages
{{- range .packages.brew.linux | uniq }}
brew {{ . | quote }}
{{- end }}
{{- end }}
