# -*-mode:ruby-*- vim:ft=ruby

# Homebrew
# tap "Homebrew/core"
# tap "Homebrew/bundle"
# tap "wfxr/csview"

tap "dopplerhq/cli"

## GNU
brew "gnutls"
brew "coreutils"
brew "openssl"
brew "gnupg"
{{ if eq .chezmoi.os "darwin" }}
brew "pinentry-mac"

## Xcode
brew "xcbeautify"
{{ end }}

## Shell
brew "fish"

## Basic Command Alternative
brew "bat"
brew "eza"
brew "fd"
brew "ripgrep"
brew "ast-grep"
brew "procs"
brew "thefuck"
brew "fzf"

# Screen
brew "tmux"
brew "neofetch"

## Monitor
brew "bottom"
brew "dust"

## Editor
brew "neovim"

## Benchmark
brew "hyperfine"

## Security
brew "age"
brew "dopplerhq/cli/doppler"

## Version Control
brew "git"
brew "git-lfs"
brew "git-delta"
brew "bit-git"
brew "tig"
brew "lazygit"

## GitHub
brew "gh"
brew "ghq"

## Version Management
brew "mise"

## Build
brew "cmake"

## Formatter/Linter
brew "checkmake"

## Database
brew "sqlite"

## Go
brew "goreleaser/tap/goreleaser"

{{ if not .headless }}
## CSV
brew "csview"
brew "xsv"

## JSON
brew "cjson"

## DevOps
{{ if .cloud }}
### AWS
brew "awscli"

### Azure
brew "azure-cli"

{{ end }}
{{ if .docker }}
### Kubernetes
brew "kubernetes-cli"
brew "helm"      # Kubernetes package manager
brew "k3d"       # Little helper to run CNCF's k3s in Docker
brew "k3sup"     # Utility to create k3s clusters on any local or remote VM
brew "k9s"       # Kubernetes CLI To Manage Your Clusters In Style!
brew "kind"      # Run local Kubernetes cluster in Docker
brew "krew"      # kubectl plugin manager
brew "kubectx"   # Tool that can switch between kubectl contexts easily and create aliases
brew "kustomize" # Template-free customization of Kubernetes YAML manifests
{{ end }}

### Terraform
brew "terraform"

## Media
brew "ffmpeg"
brew "media-info"

### Images
brew "imagemagick"
brew "exiftool"

### Audio
brew "lame"
brew "flac"

## Network
brew "tcptraceroute"
brew "aircrack-ng"

## Hash
brew "hashcat"
brew "hcxtools"

## Downloader
brew "wget"
brew "curl"
brew "aria2"
brew "yt-dlp"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
# Linux packages
brew "util-linux"
brew "cups"
{{ end }}
