# -*-mode:ruby-*- vim:ft=ruby.gotexttmpl

# Homebrew
tap "Homebrew/bundle"

## GNU
brew "gnutls"
brew "coreutils"
brew "openssl"
{{- if eq .chezmoi.os "darwin" }}
brew "pinentry-mac"

## Xcode
brew "xcbeautify"
{{- end }}

## Shell
brew "fish"
brew "starship"

## Basic Command Alternative
brew "bat"
brew "eza"
brew "fd"
brew "ripgrep"
brew "procs"
brew "thefuck"
brew "fzf"

# Build tool / Task runner
brew "go-task"

## Browser / Downloader
brew "w3m"
brew "wget"
brew "curl"
brew "aria2"
brew "yt-dlp"
brew "rclone"

# Terminal
brew "tmux"
brew "zellij"
brew "fastfetch"

## Performance
brew "bottom"
brew "hyperfine"

## Editor
brew "neovim"

## Security
brew "gnupg"
brew "age"

## Version Control
brew "git"
brew "git-lfs"
brew "git-delta"
brew "bit-git"
brew "tig"
brew "lazygit"

## GitHub
brew "gh"
brew "ghq"

## Build
brew "cmake"

## Formatter/Linter
brew "checkmake"

## Database
brew "sqlite"

## Rust
brew "rustup-init"

## Go
brew "goreleaser/tap/goreleaser"

## Python
brew "tcl-tk"
brew "python-tk@3.12"

## File Watch
brew "watchexec"

{{- if not .headless }}
## Version Management
brew "mise"

## CSV
brew "xsv"

## JSON
brew "jnv"

## DevOps
{{- if and .cloud (not .headless) }}
### AWS
brew "awscli"

### Azure
brew "azure-cli"

{{- end }}
{{- if .docker }}
### Kubernetes
brew "kubernetes-cli"
brew "helm"      # Kubernetes package manager
brew "k3d"       # Little helper to run CNCF's k3s in Docker
brew "k3sup"     # Utility to create k3s clusters on any local or remote VM
brew "k9s"       # Kubernetes CLI To Manage Your Clusters In Style!
brew "kind"      # Run local Kubernetes cluster in Docker
brew "krew"      # kubectl plugin manager
brew "kubectx"   # Tool that can switch between kubectl contexts easily and create aliases
brew "kustomize" # Template-free customization of Kubernetes YAML manifests
{{- end }}

### Terraform
brew "terraform"

## Media
brew "ffmpeg"
brew "media-info"

### Images
brew "imagemagick"
brew "exiftool"

### Audio
brew "lame"
brew "flac"

## Network
brew "tcptraceroute"
brew "termshark"
brew "aircrack-ng"

## Hash
brew "hashcat"
brew "hcxtools"

## RSS
brew "newsboat"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# Linux packages
brew "util-linux"
brew "cups"
{{- end }}
