# -*-mode:ruby-*- vim:ft=ruby

{{ if eq .chezmoi.os "darwin" }}

# Homwbrew Cask
# tap "Homebrew/cask"
# tap "Homebrew/cask-versions"
# tap "Homebrew/cask-drivers"
# tap "homebrew/cask-fonts"
# tap "Homebrew/services"

## Install directory for Homebrew Cask
cask_args appdir: "~/Applications"

{{ if not .headless }}

## Maintenance
cask "onyx"
cask "appcleaner"

## Language
cask "monolingual"

## Finder/Quicklook
cask "syntax-highlight"
cask "qlimagesize"
cask "webpquicklook"
cask "symboliclinker"

## Dictionary
cask "deepl"

## Keyboard
cask "karabiner-elements"
cask "hammerspoon"

## Input Method
cask "google-japanese-ime"

## Font
cask "font-codicon"
cask "font-jetbrains-mono-nerd-font"

cask "font-cica"
cask "font-hackgen-nerd"
cask "font-plemol-jp-nfj"
cask "font-udev-gothic-nf"

## Archive
cask "betterzip"
cask "suspicious-package"

## Launcher
cask "raycast"

## Web Browser
cask "google-chrome"
cask "brave-browser"
cask "firefox"

## Editor
cask "coteditor"

## Dev
cask "iterm2"
cask "alacritty"
cask "visual-studio-code"
cask "imhex"

### Container
cask "docker"

### Database
cask "tableplus"

### Diagram
cask "drawio"

### Network
cask "wireshark-chmodbpf"

## Media

### Image
cask "kap"

{{ if .graphics }}
### Graphics
cask "blender"
{{ end }}
### Movie
cask "iina"
cask "vlc"

### Audio
cask "audacity"
cask "blackhole-2ch"
cask "ivolume"

### Music
cask "spotify"

### MIDI
cask "touchosc-bridge"
cask "touchosc-editor"

### Broadcast
cask "obs"

### Chat
cask "slack"
cask "discord"

## Network
cask "tunnelbear"
cask "townwifi"
cask "transmission"

{{ if .cloud }}
## Cloud
cask "google-cloud-sdk"
{{ end }}
### Storage
cask "dropbox"
# cask "google-drive"

cask "franz"

{{ range .plugins.vscode | sortAlpha | uniq }}
vscode {{ . | quote }}
{{ end }}

{{ end }}

{{ end }}
