{{- if eq .chezmoi.os "darwin" }}

# Homwbrew Cask
{{- range .packages.cask.tap | uniq }}
tap {{ . | quote }}
{{- end }}

## Install directory for Homebrew Cask
cask_args appdir: "~/Applications"

{{- if not .headless }}

## Maintenance
{{- range .packages.cask.maintenance | uniq }}
cask {{ . | quote }}
{{- end }}

## Language
{{- range .packages.cask.language | uniq }}
cask {{ . | quote }}
{{- end }}

## Finder/Quicklook
{{- range .packages.cask.finder | uniq }}
cask {{ . | quote }}
{{- end }}

## Dictionary
{{- range .packages.cask.dictionary | uniq }}
cask {{ . | quote }}
{{- end }}

## Keyboard
{{- range .packages.cask.keyboard | uniq }}
cask {{ . | quote }}
{{- end }}

## Input Method
{{- range .packages.cask.ime | uniq }}
cask {{ . | quote }}
{{- end }}

## Font
{{- range .packages.cask.font | uniq }}
cask {{ . | quote }}
{{- end }}

## Archive
{{- range .packages.cask.archive | uniq }}
cask {{ . | quote }}
{{- end }}

## Launcher
{{- range .packages.cask.launcher | uniq }}
cask {{ . | quote }}
{{- end }}

## Web Browser
{{- range .packages.cask.browser | uniq }}
cask {{ . | quote }}
{{- end }}

# Previewer
{{- range .packages.cask.previewer | uniq }}
cask {{ . | quote }}
{{- end }}

## Editor
{{- range .packages.cask.editor | uniq }}
cask {{ . | quote }}
{{- end }}

## Dev
{{- range .packages.cask.terminal | uniq }}
cask {{ . | quote }}
{{- end }}
{{- range .packages.cask.ide | uniq }}
cask {{ . | quote }}
{{- end }}

### Database
{{- range .packages.cask.database | uniq }}
cask {{ . | quote }}
{{- end }}

### Note
{{- range .packages.cask.note | uniq }}
cask {{ . | quote }}
{{- end }}

### Diagram
{{- range .packages.cask.diagram | uniq }}
cask {{ . | quote }}
{{- end }}

# Tex
{{- range .packages.cask.tex | uniq }}
brew {{ . | quote }}
{{- end }}

## Media

{{- if .graphics }}
### Graphics
{{- range .packages.cask.graphics | uniq }}
cask {{ . | quote }}
{{- end }}
{{ end }}
### Movie
{{- range .packages.cask.player | uniq }}
cask {{ . | quote }}
{{- end }}

### Audio
{{- range .packages.cask.audio | uniq }}
cask {{ . | quote }}
{{- end }}

### MIDI
{{- range .packages.cask.osc | uniq }}
cask {{ . | quote }}
{{- end }}

### Broadcast
{{- range .packages.cask.broadcast | uniq }}
cask {{ . | quote }}
{{- end }}

### Chat
{{- range .packages.cask.chat | uniq }}
cask {{ . | quote }}
{{- end }}

## Network
{{- range .packages.cask.network | uniq }}
cask {{ . | quote }}
{{- end }}

{{- if .cloud }}
## Cloud
{{- range .packages.cask.devops | uniq }}
cask {{ . | quote }}
{{- end }}
{{ end }}

### Storage
{{- range .packages.cask.storage | uniq }}
cask {{ . | quote }}
{{- end }}

{{- range .extensions.vscode | sortAlpha | uniq }}
vscode {{ . | quote }}
{{- end }}

{{- end }}
{{- end }}
{{- /*
  -*-mode:ruby-*- vim:ft=ruby.gotexttmpl
*/}}
