# -*-mode:ruby-*- vim:ft=ruby.gotexttmpl

{{- if eq .chezmoi.os "darwin" }}

# Mac App Store
brew "mas"

{{- if not .headless }}
{{- range .packages.mas | uniq }}
mas {{ .name | quote }}, id: {{ .id }}
{{- end }}

{{- end }}
{{- end }}
