// -*-mode:kdl-*- vim:ft=kdl.gotexttmpl

layout {
    pane_template name="bottom" {
        command "btm"
    }

    pane_template name="statusline" borderless=true {
        plugin location="file:$XDG_DATA_HOME/zellij/plugins/zjstatus.wasm" {
            hide_frame_for_single_pane "true"

            {{ $mode_fg := .zellij.mode.fg }}
            {{ $mode_bg := .zellij.mode.bg }}
            format_left  "{mode}#[fg=blue,bg={{ $mode_bg }},bold]  {session} #[fg={{ $mode_bg }},bg=bg] #[fg=white,bg=fg]󰓩  {tabs}"
            format_right "#[fg=blue,bg=bg]{datetime}"
            format_space "#[bg=fg]"

            datetime          "#[fg={{ $mode_fg }},bg=blue]{format}"
            datetime_format   "   %H:%M "
            datetime_timezone "Asia/Tokyo"

            mode_normal   "#[fg={{ $mode_fg }},bg={{ .zellij.mode.normal.bg}},bold] NORMAL #[fg={{ .zellij.mode.normal.bg }},bg=#383E5A]"
            mode_pane     "#[fg={{ $mode_fg }},bg={{ .zellij.mode.pane.bg}},bold] PANE #[fg={{ .zellij.mode.pane.bg }},bg={{ $mode_bg }}]"
            mode_session  "#[fg={{ $mode_fg }},bg={{ .zellij.mode.session.bg }},bold] SESSION #[fg={{ .zellij.mode.session.bg }},bg={{ $mode_bg }}]"
            mode_tab      "#[fg={{ $mode_fg }},bg={{ .zellij.mode.tab.bg }},bold] TAB #[fg={{ .zellij.mode.tab.bg }},bg={{ $mode_bg }}]"

            tab_normal  "#[fg={{ .zellij.tab.normal.fg }},bg=fg] [{index}] {name}"
            tab_active  "#[fg={{ .zellij.tab.active.fg }},bg=fg,bold,italic] [{index}] {name}"

        }
    }
    default_tab_template { children; statusline size=1; }
    tab_template name="monitor" { children; }

    monitor name="monitor" focus=true { bottom; }
    tab name="terminal" { pane; }
}
