# AI Assistant Guideline

## 🤖 Metaprompting

{{ includeTemplate "common/ai/guidelines/metaprompting.md" . }}
## ⚠️ Primary Principle (NON-NEGOTIABLE)

{{ includeTemplate "common/ai/guidelines/primary-principle.md" . }}
## 🛠️ General Instruction Guidelines

{{ includeTemplate "common/ai/guidelines/general-instruction.md" . }}
## 🛡️ Security Policy

{{ includeTemplate "common/ai/guidelines/security-policy.md" . }}
## RTK - Rust Token Killer

{{ includeTemplate "common/ai/guidelines/rtk.md" . }}
## 🖥️ Development Instruction Guidelines

### 💡 Coding Principle

{{ includeTemplate "common/ai/guidelines/coding-principle.md" . }}
### 🎨 Coding Styles

{{ includeTemplate "common/ai/guidelines/coding-styles.md" . }}
### 🔡 Global Development Rules

- **Git**: @~/.gemini/rules/git.md
- **Shell**: @~/.gemini/rules/shell.md

### Commandline Requirements

{{ includeTemplate "common/ai/guidelines/commandline.md.tmpl" . }}
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
