{
  "$schema": "https://raw.githubusercontent.com/google-gemini/gemini-cli/main/schemas/settings.schema.json",
  "tools": {
    "autoAccept": false,
    "sandbox": true,
    "shell": {
      "showColor": true,
      "pager": "bat --style=grid,numbers --color=auto --paging=never"
    }
  },
  "general": {
    "checkpointing": { "enabled": true },
    "enableAutoUpdate": false,
    "preferredEditor": "neovim",
    "vimMode": false,
    "previewFeatures": true,
    "defaultApprovalMode": "default",
    "plan": {
      "directory": ".gemini/plans",
      "modelRouting": true
    },
    "sessionRetention": {
      "warningAcknowledged": true,
      "enabled": true,
      "maxAge": "14d",
      "maxCount": 20
    }
  },
  "context": {
    "fileName": {{ .gemini.context.files | toPrettyJson | indent 2 | trim }},
    "fileFiltering": { "respectGitIgnore": true, "enableRecursiveFileSearch": true }
  },
  "model": { "name": {{ .gemini.models.auto | quote }} },
  "security": {
    "auth": { "selectedType": "oauth-personal" },
    "disableYoloMode": true,
    "disableAlwaysAllow": true
  },
  "ui": {
    "theme": "GitHub",
    "useFullWidth": true,
    "inlineThinkingMode": "full",
    "showStatusInTitle": true,
    "showCitations": true,
    "showModelInfoInChat": true,
    "footer": {
      "hideSandboxStatus": false,
      "hideContextPercentage": false,
      "hideContextSummary": false,
      "hideBanner": false,
      "items": ["model-name", "context-used", "quota", "memory-usage", "token-count"]
    }
  },
  "experimental": {
    "enableAgents": true
  },
  "privacy": { "usageStatisticsEnabled": false },
  "hooks": {
    "Notification": [
      {
        "matcher": "permission_prompt",
        "hooks": [
          {
            "name": "Gemini Permission Prompt Notification",
            "description": "Sends a desktop notification when Gemini CLI needs permissions.",
            "type": "command",
            {{- if eq .chezmoi.os "darwin" }}
            "command": "afplay /System/Library/Sounds/Submarine.aiff >/dev/null 2>&1 &"
            {{- else if eq .chezmoi.os "linux" }}
            "command": "paplay /usr/share/sounds/freedesktop/stereo/message.oga"
            {{- end }}
          }
        ]
      },
      {
        "matcher": "idle_prompt",
        "hooks": [
          {
            "name": "Gemini Idle Prompt Notification",
            "description": "Sends a desktop notification when Gemini CLI is idle.",
            "type": "command",
            {{- if eq .chezmoi.os "darwin" }}
            "command": "afplay /System/Library/Sounds/Purr.aiff >/dev/null 2>&1 &"
            {{- else if eq .chezmoi.os "linux" }}
            "command": "paplay /usr/share/sounds/freedesktop/stereo/dialog-information.oga"
            {{- end }}
          }
        ]
      }
    ],
    "BeforeTool": [],
    "AfterTool": [],
    "BeforeAgent": [],
    "AfterAgent": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "Gemini Notification",
            "description": "Sends a desktop notification after a tool is executed.",
            "type": "command",
            {{- if eq .chezmoi.os "darwin" }}
            "command": "afplay /System/Library/Sounds/Glass.aiff >/dev/null 2>&1 &"
            {{- else if eq .chezmoi.os "linux" }}
            "command": "paplay /usr/share/sounds/freedesktop/stereo/complete.oga"
            {{- end }}
          }
        ]
      }
    ]
  },
  "telemetry": {
    "enabled": false,
    "target": "local",
    "otlpEndpoint": "http://localhost:4317",
    "logPrompts": true
  },
  "agents": {
    "overrides": {
      "codebase_investigator": {
        "enabled": true,
        "runConfig": { "maxTurns": 20 }
      },
    }
  },
  {{/* MCP Servers */ -}}
  {{ $servers := dict }}
  {{- range $key, $value := .mcp.providers -}}
  {{-   if hasKey $value "oauth" -}}
  {{-     $_ := $value | deleteValueAtPath "oauth" -}}
  {{-   end -}}
  {{-   if and (hasKey $value "type") (eq $value.type "stdio") -}}
  {{-     $_ := $value | deleteValueAtPath "type" -}}
  {{-   else if and (hasKey $value "type") (or (eq $value.type "http") (eq $value.type "remote")) -}}
  {{-     $_ := $value | setValueAtPath "httpUrl" $value.url -}}
  {{-     $_ := $value | deleteValueAtPath "type" -}}
  {{-     $_ := $value | deleteValueAtPath "url" -}}
  {{-   else -}}
  {{-   end -}}
  {{-   if and (hasKey $value "enabled") ($value.enabled) }}
  {{-     $_ := $value | deleteValueAtPath "enabled" -}}
  {{-     $_ := $servers | setValueAtPath $key $value -}}
  {{-   end }}
  {{- end -}}
  "mcpServers": {{ $servers | toPrettyJson | indent 2 | trim }}
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
