{
  "$schema": "https://raw.githubusercontent.com/google-gemini/gemini-cli/main/schemas/settings.schema.json",
  {{- /* https://geminicli.com/docs/get-started/configuration/ */}}
  {{/* Tool Settings */ -}}
  "tools": {
    "autoAccept": false,
    "core": [
      "LSTool",
      "GlobTool",
      "GrepTool",
      "ReadFileTool",
      "WriteFileTool",
      "EditTool",
      "FindFilesTool",
      "SearchTextTool",
      "ReadFolderTool",
      "ShellTool",
      "GoogleSearchTool",
      "WebFetchTool",
      "SaveMemoryTool",
      "run_shell_command(head)",
      "run_shell_command(tail)",
      "run_shell_command(cut)",
      "run_shell_command(find)",
      "run_shell_command(fd)",
      "run_shell_command(grep)",
      "run_shell_command(rg)",
      "run_shell_command(awk)",
      "run_shell_command(sed)",
      "run_shell_command(git status)",
      "run_shell_command(git show)",
      "run_shell_command(git diff)",
      "run_shell_command(git log)",
      "run_shell_command(git add)",
      "run_shell_command(git branch --show-current)"
    ],
    "exclude": [
      "run_shell_command(rm -rf /)",
      "run_shell_command(rm -rf ~)",
      "run_shell_command(rm -rf $HOME)",
      "run_shell_command(scp)",
      "run_shell_command(ssh)",
      "run_shell_command(telnet)",
      "run_shell_command(sudo)",
      "run_shell_command(shutdown)",
      "run_shell_command(reboot)",
      "run_shell_command(kill)",
      "run_shell_command(pkill)",
      "run_shell_command(killall)",
      "run_shell_command(git add .)",
      "run_shell_command(git add -A)",
      "run_shell_command(git push --force)",
      "run_shell_command(git push --force-with-lease)"
    ],
  {{/* Sandbox Settings */ -}}
  "sandbox": false
  },
  {{/* General Settings */ -}}
  "general": {
    "checkpointing": {
      "enabled": true
    },
    "disableAutoUpdate": true,
    "preferredEditor": "neovim",
    "vimMode": false,
    "previewFeatures": true
  },
  "context": {
    "fileName": [
      "GEMINI.md",
      "AGENTS.md"
    ],
    {{/* File Filter Settings */ -}}
    "fileFiltering": {
      "respectGitIgnore": true,
      "enableRecursiveFileSearch": true
    }
  },
  {{/* Model Config */ -}}
  "model": {
    "name": "auto-gemini-3"
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  },
  "ui": {
    "theme": "GitHub"
  },
  "privacy": {
    "usageStatisticsEnabled": false
  },
  {{/* Telemetry */ -}}
  "telemetry": {
    "enabled": false,
    "target": "local",
    "otlpEndpoint": "http://localhost:4317",
    "logPrompts": true
  },
  {{/* MCP Servers */ -}}
  {{ $servers := dict }}
  {{- range $key, $value := .mcp.providers -}}
  {{-   if hasKey $value "type" -}}
  {{-     $_ := $value | deleteValueAtPath "type" -}}
  {{-   end -}}
  {{-   if hasKey $value "enabled" -}}
  {{-     $_ := $value | deleteValueAtPath "enabled" -}}
  {{-   end -}}
  {{-   if hasKey $value "oauth" -}}
  {{-     $_ := $value | deleteValueAtPath "oauth" -}}
  {{-   end -}}
  {{-   $_ := $servers | setValueAtPath $key $value -}}
  {{- end -}}
  "mcpServers": {{ $servers | toPrettyJson | indent 2 | trim }}
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
