{
  {{/* General Settings */ -}}
  "selectedAuthType": "oauth-personal",
  "theme": "GitHub",
  "contextFileName": ["GEMINI.md", "AGENTS.md"],
  "preferredEditor": "neovim",

  {{/* Model Config */ -}}
  "model": "gemini-2.5-pro",

  {{/* Tool Settings */ -}}
  {{/* https://github.com/google-gemini/gemini-cli/blob/main/docs/core/tools-api.md#built-in-tools */}}
  "coreTools": [
    "LSTool",
    "GlobTool",
    "GrepTool",
    "ReadFileTool",
    "WriteFileTool",
    "EditTool",
    "ReadManyFilesTool",
    "FindFilesTool",
    "SearchTextTool",
    "ReadFolderTool",
    "ShellTool",
    "GoogleSearchTool",
    "WebFetchTool",
    "SaveMemoryTool"
  ],
  "excludeTools": [
    "run_shell_command(rm -rf)"
  ],
  "autoAccept": false,

  {{/* Sandbox Settings */ -}}
  "sandbox": false,

  {{/* File Filter Settings */ -}}
  "fileFiltering": {
    "respectGitIgnore": true,
    "enableRecursiveFileSearch": true
  },

  {{/* General Settings */ -}}
  "mcpServers": {{ template "common/ai/mcp-servers.json.tmpl" . }},

  {{/* Chekcpoint */ -}}
  "checkpointing": {
    "enabled": true
  },

  {{/* Telemetry */ -}}
  "telemetry": {
    "enabled": false,
    "target": "local",
    "otlpEndpoint": "http://localhost:4317",
    "logPrompts": true
  },

  "usageStatisticsEnabled": false
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
