{{- $servers := dict -}}
{{- range $key, $value := .mcp.providers -}}
{{-   if and ($value | hasKey "enabled") (eq $value.enabled true) -}}
{{-     $_ := $value | deleteValueAtPath "enabled" -}}
{{-   else if and ($value | hasKey "enabled") (eq $value.enabled false) -}}
{{-     $_ := $value | deleteValueAtPath "enabled" -}}
{{-     continue }}
{{-   end -}}
{{- $_ := $servers | setValueAtPath $key $value -}}
{{- end -}}
{{- $servers | toPrettyJson -}}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
