{
  {{- range $i, $elem := .mcp.providers }}
    {{- if $i }},{{- end }}
    {{- if not .enabled }}{{ continue }}{{ end }}
    {{ .name | quote }}: {
      "command": {{ .execution.cmd | quote }},
      "args": [{{ range $j, $arg := .execution.args }}{{ if $j }}, {{ end }}{{ . | quote }}{{ end }}]{{ if gt (len .execution.envs) 0 }},
      "env": { {{- range $k, $value := .execution.envs }}{{- if $k }}, {{ end }}{{- $k | quote }}: {{ $value | quote }}{{- end }}}
      {{- end }}
    }
  {{- end }}
  }
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
