{
  "version": 3,
  "skills": {
    "karpathy-guidelines": {
      "source": "multica-ai/andrej-karpathy-skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/multica-ai/andrej-karpathy-skills.git",
      "skillPath": "skills/karpathy-guidelines/SKILL.md",
      "skillFolderHash": "e119339197d600aa39a24fd7a95c946800c9c949",
      "installedAt": "2026-05-29T18:50:59Z",
      "updatedAt": "2026-05-29T18:56:59Z"
    },
    "productivity/caveman": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/productivity/caveman/SKILL.md",
      "skillFolderHash": "17972a1bdbf5909b9dbdc435ad348f0bf45f8664",
      "installedAt": "2026-05-30T16:46:19Z",
      "updatedAt": "2026-05-30T16:46:19Z"
    }
  }
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
