{
  "version": 3,
  "skills": {
    "agent-md-refactor": {
      "source": "softaworks/agent-toolkit",
      "sourceType": "github",
      "sourceUrl": "https://github.com/softaworks/agent-toolkit.git",
      "skillPath": "skills/agent-md-refactor/SKILL.md",
      "skillFolderHash": "89a8fede359cb48c66f1af44c5aa8fc07b82cded",
      "installedAt": "2026-06-11T22:48:37Z",
      "updatedAt": "2026-06-11T22:48:37Z"
    },
    "crafting-effective-readmes": {
      "source": "softaworks/agent-toolkit",
      "sourceType": "github",
      "sourceUrl": "https://github.com/softaworks/agent-toolkit.git",
      "skillPath": "skills/crafting-effective-readmes/SKILL.md",
      "skillFolderHash": "72e2a4d89c5a14b762cfc58e3bbd7fd63e9642b0",
      "installedAt": "2026-06-11T22:52:36Z",
      "updatedAt": "2026-06-11T22:52:36Z"
    },
    "engineering/diagnose": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/diagnose/SKILL.md",
      "skillFolderHash": "43d464d0e9d1049b9d525975c0f7367ab7e01a5f",
      "installedAt": "2026-06-12T09:11:53Z",
      "updatedAt": "2026-06-12T09:11:53Z"
    },
    "engineering/grill-with-docs": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/grill-with-docs/SKILL.md",
      "skillFolderHash": "2c3a4e48571bfe42203ed7b49cae85f31ef4b6f2",
      "installedAt": "2026-06-12T09:07:05Z",
      "updatedAt": "2026-06-12T09:07:05Z"
    },
    "engineering/improve-codebase-architecture": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/improve-codebase-architecture/SKILL.md",
      "skillFolderHash": "688c17ec27fe9309d84987716aca37b5ce7f3a88",
      "installedAt": "2026-06-12T09:12:55Z",
      "updatedAt": "2026-06-12T09:12:55Z"
    },
    "engineering/prototype": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/prototype/SKILL.md",
      "skillFolderHash": "c91bdc5d02d42ed88a3082a8fa83338895b55bd4",
      "installedAt": "2026-06-12T09:11:35Z",
      "updatedAt": "2026-06-12T09:11:35Z"
    },
    "engineering/setup-matt-pocock-skills": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/setup-matt-pocock-skills/SKILL.md",
      "skillFolderHash": "77638955bebe492948244f1338e54ca1a9445c29",
      "installedAt": "2026-06-12T09:13:24Z",
      "updatedAt": "2026-06-12T09:13:24Z"
    },
    "engineering/tdd": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/tdd/SKILL.md",
      "skillFolderHash": "75beb3030b4c979205dd771ff85ac600baeb68f4",
      "installedAt": "2026-06-12T09:08:30Z",
      "updatedAt": "2026-06-12T09:08:30Z"
    },
    "engineering/to-issues": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/to-issues/SKILL.md",
      "skillFolderHash": "b38c5aa6ae5d6903e60d3f74a7aafd32d02f2c06",
      "installedAt": "2026-06-12T09:08:47Z",
      "updatedAt": "2026-06-12T09:08:47Z"
    },
    "engineering/to-prd": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/to-prd/SKILL.md",
      "skillFolderHash": "fb4503f54bc618da08df2fd74109fbe57e4d8150",
      "installedAt": "2026-06-12T09:09:09Z",
      "updatedAt": "2026-06-12T09:09:09Z"
    },
    "engineering/triage": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/triage/SKILL.md",
      "skillFolderHash": "de4f182c30876a2460ca307e2f601b9b892527e5",
      "installedAt": "2026-06-12T09:09:50Z",
      "updatedAt": "2026-06-12T09:09:50Z"
    },
    "engineering/zoom-out": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/engineering/zoom-out/SKILL.md",
      "skillFolderHash": "6ecebabdea814d12888f56a611da7bf182b5fb26",
      "installedAt": "2026-06-12T09:10:53Z",
      "updatedAt": "2026-06-12T09:10:53Z"
    },
    "git-changelog": {
      "source": "MasahiroSakoda/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/MasahiroSakoda/skills.git",
      "skillPath": "skills/git-changelog/SKILL.md",
      "skillFolderHash": "1e255903d279f51fca0809b206573a19b68be956",
      "installedAt": "2026-06-07T08:32:05Z",
      "updatedAt": "2026-06-07T08:32:05Z"
    },
    "git-commit": {
      "source": "MasahiroSakoda/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/MasahiroSakoda/skills.git",
      "skillPath": "skills/git-commit/SKILL.md",
      "skillFolderHash": "6631ee383a61d469a7f14d0a1eb58118785c4f4a",
      "installedAt": "2026-06-07T08:32:05Z",
      "updatedAt": "2026-06-07T08:32:05Z"
    },
    "karpathy-guidelines": {
      "source": "multica-ai/andrej-karpathy-skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/multica-ai/andrej-karpathy-skills.git",
      "skillPath": "skills/karpathy-guidelines/SKILL.md",
      "skillFolderHash": "e119339197d600aa39a24fd7a95c946800c9c949",
      "installedAt": "2026-05-29T18:50:59Z",
      "updatedAt": "2026-05-29T18:56:59Z"
    },
    "misc/git-guardrails-claude-code": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/misc/git-guardrails-claude-code/SKILL.md",
      "skillFolderHash": "f02ae7c2de75270e93a200e11a7e466ece897353",
      "installedAt": "2026-06-12T09:14:57Z",
      "updatedAt": "2026-06-12T09:14:57Z"
    },
    "misc/migrate-to-shoehorn": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/misc/migrate-to-shoehorn/SKILL.md",
      "skillFolderHash": "ad722b79beb1c1fb998678d498ba11760d53714b",
      "installedAt": "2026-06-12T09:15:36Z",
      "updatedAt": "2026-06-12T09:15:36Z"
    },
    "misc/scaffold-exercises": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/misc/scaffold-exercises/SKILL.md",
      "skillFolderHash": "ef19ca90ec6645b23dc7e68601552ab795e3e6ee",
      "installedAt": "2026-06-12T09:15:54Z",
      "updatedAt": "2026-06-12T09:15:54Z"
    },
    "misc/setup-pre-commit": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/misc/setup-pre-commit/SKILL.md",
      "skillFolderHash": "5e6e9301b4826bd820401ea4114a797adb169f47",
      "installedAt": "2026-06-12T09:16:28Z",
      "updatedAt": "2026-06-12T09:16:28Z"
    },
    "productivity/caveman": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/productivity/caveman/SKILL.md",
      "skillFolderHash": "17972a1bdbf5909b9dbdc435ad348f0bf45f8664",
      "installedAt": "2026-05-30T16:46:19Z",
      "updatedAt": "2026-05-30T16:46:19Z"
    },
    "productivity/handoff": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/productivity/handoff/SKILL.md",
      "skillFolderHash": "7bbb60d64c911617cee7f71b2ba9e24364faa14e",
      "installedAt": "2026-06-12T09:17:40Z",
      "updatedAt": "2026-06-12T09:17:40Z"
    },
    "productivity/teach": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/productivity/teach/SKILL.md",
      "skillFolderHash": "975430f7801bac2258ed18f4d80860024443b4f7",
      "installedAt": "2026-06-12T09:18:17Z",
      "updatedAt": "2026-06-12T09:18:17Z"
    },
    "productivity/write-a-skill": {
      "source": "mattpocock/skills",
      "sourceType": "github",
      "sourceUrl": "https://github.com/mattpocock/skills.git",
      "skillPath": "skills/productivity/write-a-skill/SKILL.md",
      "skillFolderHash": "2f252b35aa238879afc5a230ac30343708dee0b3",
      "installedAt": "2026-06-12T09:18:28Z",
      "updatedAt": "2026-06-12T09:18:28Z"
    },
    "writing-clearly-and-concisely": {
      "source": "softaworks/agent-toolkit",
      "sourceType": "github",
      "sourceUrl": "https://github.com/softaworks/agent-toolkit.git",
      "skillPath": "skills/writing-clearly-and-concisely/SKILL.md",
      "skillFolderHash": "4bb2d919b567277219f7a18358bd05e0a1679a77",
      "installedAt": "2026-06-11T22:54:37Z",
      "updatedAt": "2026-06-11T22:54:37Z"
    }
  }
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
