{
  "artifactReviewPolicy": "agent-decides",
  "colorScheme": "tokyo night",
  "editor": "auto",
  "enableTelemetry": false,
  "enableTerminalSandbox": true,
  "model": "Gemini 3.5 Flash (Medium)",
  "notifications": true,
  "permissions": {
    "allow": [
      "command(ls*)",
      "command(cat*)",
      "command(buf*)",
      "command(eza*)",
      "command(wc*)",
      "command(uniq)",
      "command(sort)",
      "command(grep*)",
      "command(rg*)",
      "command(find*)",
      "command(fd*)",
      "command(pwd)",
      "command(which*)",
      "command(make*)",
      "command(file*)",
      "command(type*)",
      "command(stat*)",
      "command(echo*)",
      "command(cut*)",
      "command(jq*)",
      "command(git status*)",
      "command(git log*)",
      "command(git add*)",
      "command(git show*)",
      "command(git diff*)",
      "command(git blame*)",
      "command(gh auth status)",
      "command(gh status)",
      "command(gh search)",
      "command(gh branch)",
      "command(gh issue list)",
      "command(gh issue view*)",
      "command(gh issue status)",
      "command(gh pr list)",
      "command(gh pr view*)",
      "command(gh pr diff)",
      "command(gh pr status)",
      "command(bun run*)",
      "command(mise*)"
    ],
    "deny": [
      "command(su*)",
      "command(sudo*)",
      "command(chmod*)",
      "command(chown*)",
      "command(npm run*)",
      "command(npm test*)",
      "command(npm ci*)"
    ],
    "ask": [
      "command(uname*)",
      "command(head*)",
      "command(tail*)",
      "command(more*)",
      "command(less*)",
      "command(sed*)",
      "command(awk*)",
      "command(xargs*)",
      "command(rm*)",
      "command(rmdir*)",
      "command(mv*)",
      "command(cp*)",
      "command(kill*)",
      "command(pkill*)",
      "command(killall*)",
      "command(git commit*)",
      "command(git reset*)",
      "command(git rebase*)",
      "command(git pull*)",
      "command(git push*)",
      "command(gh api * PUT)",
      "command(gh api * POST)",
      "command(gh api * PATCH)",
      "command(gh api * DELETE)",
      "command(gh skill search*)",
      "command(gh skill preview*)",
      "command(gh skill install*)",
      "command(gh skill update*)",
      "command(gh skill publish*)"
    ]
  },
  "runningLightSpeed": "fast",
  "showFeedbackSurvey": false,
  "showTips": true,
  "statusLine": {
    "type": "command",
    "command": "bun run --silent -i ~/.gemini/antigravity-cli/scripts/statusline.ts",
    "enabled": true
  },
  "title": {
    "type": "command",
    "command": "bun run --silent -i ~/.gemini/antigravity-cli/scripts/title.ts",
    "enabled": true
  },
  "toolPermission": "proceed-in-sandbox",
  "trustedWorkspaces": [
    {{ .chezmoi.workingTree | quote }},
    {{ joinPath .git.ghq_root .git.user | quote }}
  ]
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
