{
  "allowNonWorkspaceAccess": true,
  "artifactReviewPolicy": "agent-decides",
  "colorScheme": "tokyo night",
  "editor": "auto",
  "enableTelemetry": false,
  "enableTerminalSandbox": false,
  "model": "Gemini 3.5 Flash (Medium)",
  "notifications": true,
  "permissions": {
    {{- $allow := list -}}
    {{- range .agents.permissions.read.allow -}}{{- $allow = append $allow (printf "read_file(%s)" .) -}}{{- end }}
    {{- range .agents.permissions.write.allow -}}{{- $allow = append $allow (printf "write_file(%s)" .) -}}{{- end }}
    {{- range .agents.permissions.bash.allow -}}{{- $allow = append $allow (printf "command(%s)" .) -}}{{- end }}
    {{- $ask := list -}}
    {{- range .agents.permissions.read.ask -}}{{- $ask = append $ask (printf "read_file(%s)" .) -}}{{- end }}
    {{- range .agents.permissions.write.ask -}}{{- $ask = append $ask (printf "write_file(%s)" .) -}}{{- end }}
    {{- range .agents.permissions.bash.ask -}}{{- $ask = append $ask (printf "command(%s)" .) -}}{{- end }}
    {{- $deny := list -}}
    {{- range .agents.permissions.read.deny -}}{{- $deny = append $deny (printf "read_file(%s)" .) -}}{{- end }}
    {{- range .agents.permissions.write.deny -}}{{- $deny = append $deny (printf "write_file(%s)" .) -}}{{- end }}
    {{- range .agents.permissions.bash.deny -}}{{- $deny = append $deny (printf "command(%s)" .) -}}{{- end }}
    "allow": {{ $allow | toPrettyJson | indent 4 | trim }},
    "ask": {{ $ask | toPrettyJson | indent 4 | trim }},
    "deny": {{ $deny | toPrettyJson | indent 4 | trim }}
  },
  "runningLightSpeed": "fast",
  "showFeedbackSurvey": false,
  "showTips": true,
  "statusLine": {
    "type": "command",
    "command": "bun run --silent -i ~/.gemini/antigravity-cli/scripts/statusline.ts",
    "enabled": true
  },
  "title": {
    "type": "command",
    "command": "bun run --silent -i ~/.gemini/antigravity-cli/scripts/title.ts",
    "enabled": true
  },
  "toolPermission": "request-review",
  "trustedWorkspaces": [
    {{ .chezmoi.workingTree | quote }},
    {{ joinPath .git.ghq_root .git.user | quote }}
  ],
  "verbosity": "low"
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
