{
  "cli.clear_screen": {{ .ai.keybinds.edit.clear | toJson }},
  "cli.enter": {{ .ai.keybinds.edit.submit | toJson }},
  "cli.escape": {{ .ai.keybinds.edit.escape | toJson }},
  "cli.exit": {{ .ai.keybinds.antigravity.exit | toJson }},
  "cli.suspend": {{ .ai.keybinds.antigravity.suspend | toJson }},
  "confirm.edit_command": {{ .ai.keybinds.edit.confirm_edit | toJson }},
  "confirm.no": {{ .ai.keybinds.edit.confirm_no | toJson }},
  "confirm.yes": {{ .ai.keybinds.edit.confirm_yes | toJson }},
  "edit.open_editor": {{ .ai.keybinds.edit.open_editor | toJson }},
  "edit.paste": {{ .ai.keybinds.edit.paste | toJson }},
  "edit.redo": {{ .ai.keybinds.edit.redo | toJson }},
  "edit.undo": {{ .ai.keybinds.edit.undo | toJson }},
  "edit.yank": {{ .ai.keybinds.edit.yank | toJson }},
  "navigation.up": {{ .ai.keybinds.navigate.up | toJson }},
  "navigation.down": {{ .ai.keybinds.navigate.down | toJson }},
  "navigation.left": {{ .ai.keybinds.navigate.left | toJson }},
  "navigation.right": {{ .ai.keybinds.navigate.right | toJson }},
  "navigation.page_up": {{ .ai.keybinds.navigate.page_up | toJson }},
  "navigation.page_down": {{ .ai.keybinds.navigate.page_down | toJson }},
  "navigation.go_to_top": {{ .ai.keybinds.navigate.top | toJson }},
  "navigation.go_to_bottom": {{ .ai.keybinds.navigate.bottom | toJson }},
  "navigation.tab": {{ .ai.keybinds.navigate.tab | toJson }},
  "prompt.insert_newline": {{ .ai.keybinds.edit.newline | toJson }},
  "subagent.approve_fast": {{ .ai.keybinds.antigravity.approve | toJson }},
  "subagent.jump_to_waiting": {{ .ai.keybinds.antigravity.waiting | toJson }},
  "view.review_artifact": {{ .ai.keybinds.antigravity.artifact | toJson }},
  "view.toggle_trajectory": {{ .ai.keybinds.antigravity.trajectory | toJson }}
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
