{
  "notify-sound": {
    "Notification": [
      {
        "matcher": "permission_prompt",
        "hooks": [
          {
            {{- if eq .chezmoi.os "darwin" }}
            "command": "{{ .ai.notify.sounds.mac.command }} {{ .ai.notify.sounds.mac.request }} >/dev/null 2>&1 &",
            {{- else if eq .chezmoi.os "linux" }}
            "command": "{{ .ai.notify.sounds.linux.command }} {{ .ai.notify.sounds.linux.request }} >/dev/null 2>&1 &"
            {{- end }}
          }
        ]
      },
      {
        "matcher": "idle_prompt",
        "hooks": [
          {
            {{- if eq .chezmoi.os "darwin" }}
            "command": "{{ .ai.notify.sounds.mac.command }} {{ .ai.notify.sounds.mac.idle }} >/dev/null 2>&1 &",
            {{- else if eq .chezmoi.os "linux" }}
            "command": "{{ .ai.notify.sounds.linux.command }} {{ .ai.notify.sounds.linux.idle }} >/dev/null 2>&1 &"
            {{- end }}
          }
        ]
      }
    ],
    "PreInvocation": [],
    "PostInvocation": [
      {
        "matcher": "*",
        "hooks": [
          {
            {{- if eq .chezmoi.os "darwin" }}
            "command": "{{ .ai.notify.sounds.mac.command }} {{ .ai.notify.sounds.mac.complete }} >/dev/null 2>&1 &",
            {{- else if eq .chezmoi.os "linux" }}
            "command": "{{ .ai.notify.sounds.linux.command }} {{ .ai.notify.sounds.linux.complete }} >/dev/null 2>&1 &"
            {{- end }}
          }
        ]
      }
    ],
    "Stop": [],
    "PreToolUse": [
      {{- /* TODO: Enable RTK token reducer after support Antigravity CLI
      {
        "matcher": "run_command",
        "hooks": [{"command": "${HOME}/.gemini/hooks/rtk-hook-gemini.sh"}]
      }
      */ -}}
    ],
    "PostToolUse": []
  }
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
