{{- /*
// -*-mode:kdl-*- vim:ft=kdl.gotexttmpl
*/ -}}
// -*-mode:kdl-*- vim:ft=kdl

{{ includeTemplate "common/zellij-keybinds.kdl.tmpl" . }}

plugins {
    // tab-bar         { path "tab-bar"; }
    // status-bar      { path "status-bar"; }
    // strider         { path "strider"; }
    // compact-bar     { path "compact-bar"; }
    session-manager { path "session-manager"; }
    welcome-screen location="zellij:session-manager" {
        welcome_screen false
    }

    // Additional Plugins
    zjstatus location="file:$XDG_DATA_HOME/zellij/plugins/zjstatus.wasm"
    zjframes location="file:$XDG_DATA_HOME/zellij/plugins/zjframes.wasm" {
        hide_frame_for_single_pane       "false"
        hide_frame_except_for_search     "true"
        hide_frame_except_for_scroll     "true"
        hide_frame_except_for_fullscreen "true"
    }
    zjstatus-hints location="file:$XDG_DATA_HOME/zellij/plugins/zjstatus-hints.wasm" {
        // Maximum number of characters to display
        max_length 0 // 0 = unlimited
        // String to append when truncated
        overflow_str "..." // default
        // Name of the pipe for zjstatus integration
        pipe_name "zjstatus_hints" // default
        // Hide hints in base mode (a.k.a. default mode)
        // E.g. if you have set default_mode to "locked", then
        // you can hide hints in the locked mode by setting this to true
        hide_in_base_mode false // default
    }
    autolock  location="file:$XDG_DATA_HOME/zellij/plugins/zellij-autolock.wasm" {
        triggers       "nvim|vim"         // Lock when any open these programs open.
        watch_triggers "fzf|zoxide|atuin" // Lock when any of these open and monitor until closed.
        // Reaction to input occurs after this many seconds. (default=0.3)
        // (An existing scheduled reaction prevents additional reactions.)
        reaction_seconds "0.3"
    }
    forgot    location="file:$XDG_DATA_HOME/zellij/plugins/zellij-forgot.wasm"
    // navigator location="file:$XDG_DATA_HOME/zellij/plugins/vim-zellij-navigator.wasm"
}

load_plugins {
    autolock
    zjframes
    // zjstatus-hints
    // navigator
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

// Whether to show tips on startup
// Default: true
//
show_startup_tips false

// Whether to show release notes on first version run
// Default: true
//
show_release_notes true

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
simplified_ui false

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
default_shell {{ .shell | quote }}

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
//
// session_serialization false

// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// serialize_pane_viewport true

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
//
// scrollback_lines_to_serialize 10000

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
// themes {
//     dracula {
//         fg 248 248 242
//         bg 40 42 54
//         red 255 85 85
//         green 80 250 123
//         yellow 241 250 140
//         blue 98 114 164
//         magenta 255 121 198
//         orange 255 184 108
//         cyan 139 233 253
//         black 0 0 0
//         white 255 255 255
//     }
// }

// Choose the theme that is specified in the themes section.
// Default: default
//
// https://zellij.dev/documentation/theme-list
theme "onedark"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "default"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
copy_command {{ .cmd.copy | quote }}

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
scrollback_editor "{{ .brew_prefix }}/bin/nvim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "$XDG_CONFIG_HOME/zellij/layouts"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// Default: true
//
// styled_underlines false

// Web Server
web_server false                                        // always start the web server on Zellij startup (default: false)
web_server_ip "0.0.0.0"                                 // the IP to listen on, 0.0.0.0 is all (default: 127.0.0.1)
web_server_port 443                                     // the port to listen on (default: 8082)
web_server_cert "localhost.pem"    // SSL certificate
web_server_key "localhost-key.pem" // SSL private key
enforce_https_on_localhost true                         // whether to enforce an https certificate being present also when listening on localhost (default: false)
