{{- $version := (output "sh" "-c" "mise tool aqua:jdx/hk | rg 'Installed Versions:' | awk '{print $NF}'") | trim -}}
amends "package://github.com/jdx/hk/releases/download/v{{ $version }}/hk@{{ $version }}#/Config.pkl"
import "package://github.com/jdx/hk/releases/download/v{{ $version }}/hk@{{ $version }}#/Builtins.pkl"

local linters = new Mapping<String, Step> {
  //--------------------------------------------------
  // Generic Linters
  //--------------------------------------------------
  // By default, chezmoi templates should be written in UTF-8 with no byte order mark
  ["byte-order-marker"] = (Builtins.byte_order_marker) {
    exclude = List("**/*.tmpl", "**/*.tmpl.age")
  }
  ["check_add_large_files"]           = Builtins.check_added_large_files
  ["check_case_conflict"]             = Builtins.check_case_conflict
  ["check-executables-have-shebangs"] = Builtins.check_executables_have_shebangs
  ["check_merge_conflict"]            = Builtins.check_merge_conflict
  ["check_symlinks"]                  = Builtins.check_symlinks
  ["detect_private_key"]              = Builtins.detect_private_key
  // ["editorconfig_checker"]            = Builtins.editorconfig_checker
  ["end-of-file-fixer"]               = Builtins.newlines
  ["fix_smart_quotes"]                = Builtins.fix_smart_quotes
  ["mixed-line-ending"]               = Builtins.mixed_line_ending
  ["no-commit-to-branch"]             = Builtins.no_commit_to_branch
  ["trailing-whitespace"]             = Builtins.trailing_whitespace

  //--------------------------------------------------
  // Third party formatter / linters
  //--------------------------------------------------
  ["betterleaks"] = Builtins.betterleaks
  ["actionlint"]  = Builtins.actionlint
  ["zizmor"]      = Builtins.zizmor
  ["pinact"]      = Builtins.pinact

  // Markup languages
  ["rumdl"]        = Builtins.rumdl
  // ["jq"]           = Builtins.jq
  // ["yq"]           = Builtins.yq
  // ["yamlfmt"]      = Builtins.yamlfmt
  // ["tombi"]        = Builtins.tombi
  // ["tombi-format"] = Builtins.tombi_format
  // ["pkl"]          = Builtins.pkl
  // ["pkl-format"]   = Builtins.pkl_format

  // Programming Languages
  // ["shfmt"]         = Builtins.shfmt
  // ["stylua"]        = Builtins.stylua
  // ["biome"]         = Builtins.biome
  // ["ox_lint"]       = Builtins.ox_lint
  // ["oxfmt"]         = Builtins.oxfmt
  // ["deno"]          = Builtins.deno
  // ["deno-check"]    = Builtins.deno_check
  // ["cargo-fmt"]     = Builtins.cargo_fmt
  // ["cargo-clippy"]  = Builtins.cargo_clippy
  // ["golangci-lint"] = Builtins.golangci_lint
  // ["ty"]            = Builtins.ty
  // ["ruff"]          = Builtins.ruff
  // ["ruff_format"]   = Builtins.ruff_format
  // ["rubocop"]       = Builtins.rubocop

  // IaC
  // ["hadolint"]  = Builtins.hadolint
  // ["terraform"] = Builtins.terraform

  // Grammar / Spell
  ["typos"]  = Builtins.typos
  // ["harper"] = Builtins.harper
}

hooks {
  ["check"] {
    steps = linters
  }
  ["fix"] {
    fix   = true
    steps = linters
  }
  // ["commit-msg"] {
  //   steps = new Mapping<String, Step> {
  //     ["check-conventional-commit"] = Builtins.check_conventional_commit
  //   }
  // }
  ["pre-commit"] {
    fix   = false
    stash = "git"
    steps = linters
    // steps = new Mapping<String, Step> {
    //   ["betterleaks"] = Builtins.betterleaks
    // }
  }
}

jobs       = 4
fail_fast  = false
exclude    = List("node_modules", "dist", "build")
skip_steps = List("slow-test")
skip_hooks = List("pre-push")

{{- /*
// -*-mode:pkl-*- vim:ft=pkl.gotexttmpl
*/ -}}
