{
  "builder": {
    "gc": {
      "defaultKeepStorages": "20GB",
      "enabled": true
    }
  },
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "min-size": "3"
  },
  "experimental": false
}
{{- /*
// -*-mode:jsonc-*- vim:ft=jsonc.gotexttmpl
*/ -}}
