# -*-mode:fish-*- vim:ft=fish.gotexttmpl

# Rust
set -gx RUST_BACKTRACE full
set -gx CARGO_HOME "{{ .chezmoi.homeDir }}/.cargo"

if test -d $CARGO_HOME/bin
  fish_add_path $CARGO_HOME/bin
end

# Python
set -gx PYTHONPATH "{{ .brew_prefix }}/lib/python3.11"
set -gx PYTHON_BUILD_CACHE_PATH "$HOME/.cache/pyenv"
set -gx PYTHON_BUILD_HTTP_CLIENT "aria2c"

{{ if eq .chezmoi.os "darwin" -}}
set -gx PYTHON_CONFIGURE_OPTS "--enable-framework --enable-optimizations --with-lto=full --with-tcltk-includes='-I$(brew --prefix tcl-tk)/include' --with-tcltk-libs='-L$(brew --prefix tcl-tk)/lib -ltcl8.6 -ltk8.6'"
{{ else if eq .chezmoi.os "linux" -}}
set -gx PYTHON_CONFIGURE_OPTS "--enable-shared --enable-optimizations --with-lto=full"
{{ else -}}
set -gx PYTHON_CONFIGURE_OPTS "--enable-optimizations --with-lto=full"
{{- end -}}

# Ruby
set -gx RUBY_CFLAGS "-Wno-error=implicit-function-declaration"
set -gx RUBY_CONFIGURE_OPTS "--with-openssl-dir=$(brew --prefix openssl@3) --with-readline-dir=$(brew --prefix readline)"

# pnpm
set -gx PNPM_HOME "$HOME/.local/share/pnpm"
if not string match -q -- $PNPM_HOME $PATH
  fish_add_path $PNPM_HOME
end
