# MCP policies

[[rule]]
mcpName  = "time"
toolName = "*"
decision = "ask_user"
priority = 100

[[rule]]
mcpName  = "filesystem"
toolName = "*"
decision = "allow"
priority = 100

[[rule]]
mcpName  = "git"
toolName = "*"
decision = "allow"
priority = 100

[[rule]]
mcpName  = "sequential-thinking"
toolName = "*"
decision = "allow"
priority = 100

[[rule]]
mcpName  = "memory"
toolName = "*"
decision = "allow"
priority = 100

[[rule]]
mcpName  = "context7"
toolName = "*"
decision = "ask_user"
priority = 100

[[rule]]
mcpName  = "grep_app"
toolName = "*"
decision = "ask_user"
priority = 100

[[rule]]
mcpName  = "github"
toolName = "*"
decision = "ask_user"
priority = 100

[[rule]]
mcpName  = "serena"
toolName = "*"
decision = "ask_user"
priority = 100

{{- /*
# -*-mode:toml-*- vim:ft=toml.gotexttmpl
*/ -}}
