**Always use modern alternative tools** when available

- **Pattern Search**: Use `rg` instead of traditional `grep`
- **File Search**: Use `fd` instead of traditional `find`
- **List files**: Use `eza` instead of `ls`
- **Comparator**: Use `delta` instead of `diff`
- **Disk Usage**: Use `dua` instead of `du`
- **Clipboard**: Use `{{ .cmd.copy }}` and `{{ .cmd.paste }}` for access clipboard
{{- /*<!--
mode:markdown vim:ft=markdown
-->*/ -}}
