name: ci

on:
  pull_request:
    types:
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  cache-version: v5
  HOMEBREW_NO_INSTALL_FROM_API: ""

jobs:
  ci:
    if: github.event.pull_request.merged
    strategy:
      matrix:
        os:
        - macos-latest
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    timeout-minutes: 30
    # sptesの並列化で高速化できる
    # https://qiita.com/qualitia_cdev/items/407b0df9c0a0f0f45bbc
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Restore Homebrew cache
        uses: actions/cache/restore@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          enableCrossOsArchive: true
          # TODO: enable for cross platform env
          path: ~/Library/Caches/Homebrew
          key: ${{ runner.os }}-homebrew-cache-${{ env.cache-version }}

      - name: Decrypt age key
        env:
          AGE_DECRYPT_PASS: ${{ secrets.AGE_DECRYPT_PASS }}
        run: |
          mkdir -p "${HOME}/.config/chezmoi"
          echo "${{ secrets.CHEZMOI_KEY }}" | base64 -d > "${HOME}/.config/chezmoi/key.txt"

      - name: Install dotfiles
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
          GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
        run: |
          sh -c "$(curl -fsLS chezmoi.io/get)" -- init --apply -S .

      - name: Setup Homebrew
        if: always()
        uses: Homebrew/actions/setup-homebrew@ab0c7f49b7a4e61a4b9b98140484e1b2453620e7

      - name: Install Homebrew packages with Brewfile
        if: always()
        run: |
          brew update
          brew bundle -v --file="${HOME}/.config/homebrew/Brewfile"

      - name: Save Homebrew cache
        if: always()
        uses: actions/cache/save@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          enableCrossOsArchive: true
          # TODO: enable for cross platform env
          path: ~/Library/Caches/Homebrew
          key: ${{ runner.os }}-homebrew-cache-${{ env.cache-version }}

      - name: Install runtime with mise
        if: always()
        env:
          MISE_TRUSTED_CONFIG_PATHS: ~/.config/mise/config.toml
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Remove age key
        if: always()
        run: rm "${HOME}/.config/chezmoi/key.txt"
