name: issue
on:
  issues:
    types:
      - opened
jobs:
  issue-labeler:
    name: Issue Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          # workaround for sync-labels bug:
          # https://github.com/actions/labeler/issues/112#issuecomment-1000491676
          # sync-labels: ""
          configuration-path: ".github/labeler.yml"
  issue-assign:
    name: Assign author to Issue
    if: ${{ ! contains(fromJson('["renovate[bot]", "dependabot[bot]"]'), github.actor) }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Assign author to issue
        uses: technote-space/assign-author@9558557c5c4816f38bd06176fbc324ba14bb3160 # v1.6.2
