name: linter

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: read
  # To report GitHub Actions status checks
  statuses: write

jobs:
  linter:
    strategy:
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Super-linter
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          LOG_LEVEL: WARN
          LINTER_RULES_PATH: /
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_CHECKOV: true
          VALIDATE_GITLEAKS: true
          VALIDATE_RENOVATE: true
          VALIDATE_MARKDOWN: true
          VALIDATE_JSON: true
          VALIDATE_YAML: true
          VALIDATE_BASH: true
          SHELLCHECK_OPTS: -e 1009 -e SC1054 -e SC1056 -e SC1072 -e SC1073 -e 1083
          VALIDATE_LUA: true
          LUACHECK_CONFIG: .luacheckrc
          VALIDATE_JAVASCRIPT_ES: true
